<div class="portal-item">
    <div class="title">Item from Amazon</div>
    <ul class="item-list">
        <li>
            <div class="thumb">
                <a ng-href="/"><img src="common/img/ws-pd2.jpg" alt=""/></a>
            </div>
            <div class="info">
                <div class="name-box">
                    <div class="left">
                        <strong class="name">Beats Studio Wireless Over-Ear Headphone...</strong>
                    </div>
                    <div class="right">
                        <span class="delete-ico"></span>
                    </div>
                </div>
                <div class="qty">
                    <label>Qty</label>
                    <input type="number" value="1"/>
                </div>
                <div class="option">
                    <div class="option-row">
                        <div class="left">Size</div>
                        <div class="right">S</div>
                    </div>
                    <div class="option-row">
                        <div class="left">Color</div>
                        <div class="right">Yellow</div>
                    </div>
                </div>
                <div class="option">
                    <div class="option-row">
                        <div class="left">Item Price:</div>
                        <div class="right">4.423.234 VNĐ</div>
                    </div>
                    <div class="option-row">
                        <div class="left">Seller Shipping Fee:</div>
                        <div class="right">123.234 VNĐ</div>
                    </div>
                    <div class="option-row">
                        <div class="left">Sale Tax:</div>
                        <div class="right">223.234 VNĐ</div>
                    </div>
                </div>
                <span class="note-seller" data-toggle="modal" data-target="#note">
                    <span>Note to Seller</span>
                    <i class="fa fa-angle-right"></i>
                </span>
                <div class="total">
                    <div class="option-row">
                        <div class="left">Sub Total Amount:</div>
                        <div class="right">3.223.234 VNĐ</div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="thumb">
                <a ng-href="/"><img src="common/img/ws-pd2.jpg" alt=""/></a>
            </div>
            <div class="info">
                <div class="name-box">
                    <div class="left">
                        <strong class="name">Beats Studio Wireless Over-Ear Headphone...</strong>
                    </div>
                    <div class="right">
                        <span class="delete-ico"></span>
                    </div>
                </div>
                <div class="qty">
                    <label>Qty</label>
                    <input type="number" value="1"/>
                </div>
                <div class="option">
                    <div class="option-row">
                        <div class="left">Size</div>
                        <div class="right">S</div>
                    </div>
                    <div class="option-row">
                        <div class="left">Color</div>
                        <div class="right">Yellow</div>
                    </div>
                </div>
                <div class="option">
                    <div class="option-row">
                        <div class="left">Item Price:</div>
                        <div class="right">4.423.234 VNĐ</div>
                    </div>
                    <div class="option-row">
                        <div class="left">Seller Shipping Fee:</div>
                        <div class="right">123.234 VNĐ</div>
                    </div>
                    <div class="option-row">
                        <div class="left">Sale Tax:</div>
                        <div class="right">223.234 VNĐ</div>
                    </div>
                </div>
                <span class="note-seller" data-toggle="modal" data-target="#note">
                    <span>Note to Seller</span>
                    <i class="fa fa-angle-right"></i>
                </span>
                <div class="total">
                    <div class="option-row">
                        <div class="left">Sub Total Amount:</div>
                        <div class="right">3.223.234 VNĐ</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="title">Item from Ebay</div>
    <ul class="item-list">
        <li>
            <div class="thumb">
                <a ng-href="/"><img src="common/img/ws-pd2.jpg" alt=""/></a>
            </div>
            <div class="info">
                <div class="name-box">
                    <div class="left">
                        <strong class="name">Beats Studio Wireless Over-Ear Headphone...</strong>
                    </div>
                    <div class="right">
                        <span class="delete-ico"></span>
                    </div>
                </div>
                <div class="qty">
                    <label>Qty</label>
                    <input type="number" value="1"/>
                </div>
                <div class="option">
                    <div class="option-row">
                        <div class="left">Size</div>
                        <div class="right">S</div>
                    </div>
                    <div class="option-row">
                        <div class="left">Color</div>
                        <div class="right">Yellow</div>
                    </div>
                </div>
                <div class="option">
                    <div class="option-row">
                        <div class="left">Item Price:</div>
                        <div class="right">4.423.234 VNĐ</div>
                    </div>
                    <div class="option-row">
                        <div class="left">Seller Shipping Fee:</div>
                        <div class="right">123.234 VNĐ</div>
                    </div>
                    <div class="option-row">
                        <div class="left">Sale Tax:</div>
                        <div class="right">223.234 VNĐ</div>
                    </div>
                </div>
                <span class="note-seller" data-toggle="modal" data-target="#note">
                    <span>Note to Seller</span>
                    <i class="fa fa-angle-right"></i>
                </span>
                <div class="total">
                    <div class="option-row">
                        <div class="left">Sub Total Amount:</div>
                        <div class="right">3.223.234 VNĐ</div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="thumb">
                <a ng-href="/"><img src="common/img/ws-pd2.jpg" alt=""/></a>
            </div>
            <div class="info">
                <div class="name-box">
                    <div class="left">
                        <strong class="name">Beats Studio Wireless Over-Ear Headphone...</strong>
                    </div>
                    <div class="right">
                        <span class="delete-ico"></span>
                    </div>
                </div>
                <div class="qty">
                    <label>Qty</label>
                    <input type="number" value="1"/>
                </div>
                <div class="option">
                    <div class="option-row">
                        <div class="left">Size</div>
                        <div class="right">S</div>
                    </div>
                    <div class="option-row">
                        <div class="left">Color</div>
                        <div class="right">Yellow</div>
                    </div>
                </div>
                <div class="option">
                    <div class="option-row">
                        <div class="left">Item Price:</div>
                        <div class="right">4.423.234 VNĐ</div>
                    </div>
                    <div class="option-row">
                        <div class="left">Seller Shipping Fee:</div>
                        <div class="right">123.234 VNĐ</div>
                    </div>
                    <div class="option-row">
                        <div class="left">Sale Tax:</div>
                        <div class="right">223.234 VNĐ</div>
                    </div>
                </div>
                <span class="note-seller" data-toggle="modal" data-target="#note">
                    <span>Note to Seller</span>
                    <i class="fa fa-angle-right"></i>
                </span>
                <div class="total">
                    <div class="option-row">
                        <div class="left">Sub Total Amount:</div>
                        <div class="right">3.223.234 VNĐ</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="total-price">
        Total Price: 13.345.234 VNĐ
    </div>
    <div class="detail-button">
        <button class="btn btn-default btn-addcart">Continue Shopping</button>
        <button class="btn btn-default btn-buynow">Process to checkout</button>
    </div>
</div>

<div class="modal fade bottom" id="note">
    <div class="modal-dialog choose">
        <div class="modal-content">
            <div class="modal-body note-input">
                <div class="form-group">
                    <textarea class="form-control" placeholder="Tell us what you think?" rows="5"></textarea>
                </div>
                <div class="btn-box">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>