<div class="checkout-item">
    <div class="title">
        <span>Your items (3)</span>
        <span class="edit" data-toggle="modal" data-target="#">Edit</span>
    </div>
    <ul class="list-pd">
        <li>
            <div class="thumb">
                <a ng-href="/"><img src="common/img/ws-pd3.jpg" alt=""/></a>
            </div>
            <div class="info">
                <div class="pd">
                    <div class="left">
                        <div>Beats Studio Wireless Over-Ear Headphone <span class="option">Size S, Yellow</span></div>
                    </div>
                    <div class="right"><span class="option">1</span> x 3.853.125 VNĐ</div>
                </div>
                <div class="note">Note: <span class="option">lorem ipsum dolor sit amet...</span></div>
            </div>
        </li>
        <li>
            <div class="thumb">
                <a ng-href="/"><img src="common/img/ws-pd3.jpg" alt=""/></a>
            </div>
            <div class="info">
                <div class="pd">
                    <div class="left">
                        <div>Beats Studio Wireless Over-Ear Headphone <span class="option">Size S, Yellow</span></div>
                    </div>
                    <div class="right"><span class="option">1</span> x 3.853.125 VNĐ</div>
                </div>
                <div class="note">Note: <span class="option">lorem ipsum dolor sit amet...</span></div>
            </div>
        </li>
        <li>
            <div class="thumb">
                <a ng-href="/"><img src="common/img/ws-pd3.jpg" alt=""/></a>
            </div>
            <div class="info">
                <div class="pd">
                    <div class="left">
                        <div>Beats Studio Wireless Over-Ear Headphone <span class="option">Size S, Yellow</span></div>
                    </div>
                    <div class="right"><span class="option">1</span> x 3.853.125 VNĐ</div>
                </div>
                <div class="note">Note: <span class="option">lorem ipsum dolor sit amet...</span></div>
            </div>
        </li>
    </ul>
</div>
<div class="checkout-item">
    <div class="title">
        <span>Ship to</span>
        <span class="edit" data-toggle="modal" data-target="#">Edit</span>
    </div>
    <div class="add-address">
        <b>Please add your Shipping Address</b>
        <i class="fa fa-angle-right"></i>
    </div>
    <div class="choose-ship">
        <div class="text"><strong>Choose your preferred shipping option</strong></div>
        <div class="radio">
            <input type="radio" name="ship" id="ship1" checked>
            <label for="ship1"></label>
            <label for="ship1">Shipping once when all packages received</label>
        </div>
        <div class="radio">
            <input type="radio" name="ship" id="ship2" checked>
            <label for="ship2"></label>
            <label for="ship2">Shipping right after each package received <i>(in case order includes many items)</i></label>
        </div>
    </div>
</div>
<div class="checkout-item">
    <div class="title">
        <span>Payment method</span>
    </div>
    <div class="add-address">
        <b>Please add your payment account</b>
        <i class="fa fa-angle-right"></i>
    </div>
    <div class="order-info">
        <div class="coupon">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add coupon code">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Add</button>
                </span>
            </div>
        </div>
        <div class="checkbox">
            <input type="checkbox" name="payment" id="term">
            <label for="term"></label>
            <label for="term">I agree with all the <a ng-href="/">Term and conditions</a></label>
        </div>
        <div class="checkbox">
            <input type="checkbox" name="payment" id="vat">
            <label for="vat"></label>
            <label for="vat">I want to receiver VAT invoices</label>
        </div>
        <div class="payment-box">
            <div class="payment-row">
                <div class="left">Item Price:</div>
                <div class="right">12.489.232 VNĐ</div>
            </div>
            <div class="payment-row">
                <div class="left">Discount:</div>
                <div class="right">0</div>
            </div>
            <div class="payment-row">
                <div class="left">Shipping Fee:</div>
                <div class="right">89.232 VNĐ</div>
            </div>
            <div class="payment-row">
                <div class="left">Sale tax:</div>
                <div class="right">489.232 VNĐ</div>
            </div>
            <div class="payment-row total">
                <div class="left">Total Amount:</div>
                <div class="right">13.244.234 VNĐ</div>
            </div>
        </div>
    </div>
</div>

<div class="checkout-button">
    <button type="button" class="btn btn-default">Confirm Order</button>
</div>