<div class="ws-header">
    <span class="menu-toggle" ng-click="openMenuToggle();"></span>
    <div class="ws-logo">
            <div class="logo">
            <a href="/"></a>
        </div>
    </div>
    <div class="ws-right-nav">
        <ul>
            <li>
                <a href="/empty-cart">
                    <i class="nav-ico cart"></i>
                    <span class="badge">4</span>
                </a>
            </li>
            <li><a href="/login"><i class="nav-ico user"></i></a></li>
        </ul>
    </div>
    <div class="search-box">
        <form ng-submit="find(search.keyword)">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="search.keyword" placeholder="Search or Paste product URL">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="search-icon"></i></button>
                </span>
            </div>
        </form>
    </div>
</div>