<div class="noti-content">
    <ul>
        <li class="new">
            <div class="img">
                <span><img src="common/img/user-avatar.jpg" alt="" title=""/></span>
            </div>
            <div class="content">
                <div class="top">
                    <div class="from">eBay</div>
                    <div class="time blue-text">Just now</div>
                </div>
                <div class="desc">Your order was canceled</div>
                <div class="action">
                    <span>Mark as read</span>
                    <span>Delete</span>
                </div>
            </div>
        </li>
        <li>
            <div class="img">
                <span><img src="common/img/user-avatar.jpg" alt="" title=""/></span>
            </div>
            <div class="content">
                <div class="top">
                    <div class="from">eBay</div>
                    <div class="time">1 hour ago</div>
                </div>
                <div class="desc">Your order was canceled</div>
                <div class="action">
                    <span>Mark as read</span>
                    <span>Delete</span>
                </div>
            </div>
        </li>
        <li>
            <div class="img">
                <span><img src="common/img/user-avatar.jpg" alt="" title=""/></span>
            </div>
            <div class="content">
                <div class="top">
                    <div class="from">eBay</div>
                    <div class="time">Yesterday at 10:21AM</div>
                </div>
                <div class="desc">Your order was canceled</div>
                <div class="action">
                    <span>Mark as read</span>
                    <span>Delete</span>
                </div>
            </div>
        </li>
    </ul>
</div>