<div class="ship-content">
    <div class="ship-tab-head">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a data-target="#buyer" role="tab" data-toggle="tab">Buyer info</a>
            </li>
            <li role="presentation">
                <a data-target="#receiver" role="tab" data-toggle="tab">Receiver info</a>
            </li>
        </ul>
    </div>
    <div class="ship-tab-content tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="buyer">
            <div class="checkout-item">
                <div class="title">
                    <span>Primary Shipping Address</span>
                    <span class="edit" data-toggle="modal" data-target="#">Edit</span>
                </div>
                <div class="receive">
                    <ul>
                        <li>
                            <div class="radio">
                                <input type="radio" name="buyer" id="buyer1">
                                <label for="buyer1"></label>
                                <label for="buyer1">
                                    <div class="name">To Huong Lien - 0977737x23</div>
                                    <p>lienth@peacesoft.net</p>
                                    <p>18 Tam Trinh, Hai Ba Trung, Hanoi 100000</p>
                                    <p>Vietnam</p>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input type="radio" name="buyer" id="buyer2">
                                <label for="buyer2"></label>
                                <label for="buyer2">
                                    <div class="name">To Huong Lien - 0977737x23</div>
                                    <p>lienth@peacesoft.net</p>
                                    <p>18 Tam Trinh, Hai Ba Trung, Hanoi 100000</p>
                                    <p>Vietnam</p>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input type="radio" name="buyer" id="buyer3">
                                <label for="buyer3"></label>
                                <label for="buyer3">
                                    <div class="name">To Huong Lien - 0977737x23</div>
                                    <p>lienth@peacesoft.net</p>
                                    <p>18 Tam Trinh, Hai Ba Trung, Hanoi 100000</p>
                                    <p>Vietnam</p>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="add-new" ng-href="/shipping-address-new">
                <i class="plus-ico"></i>
                <span>Add new address</span>
            </a>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="receiver">
            <div class="deli-method">
                <div class="left">
                    <b>Select Delivery Method</b>
                </div>
                <div class="right">
                    <div class="btn-group">
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>Weshop's Warehouse</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">To door</a></li>
                            <li><a href="#">Viettel Post</a></li>
                            <li><a href="#">Warehouse</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="checkout-item receive-box">
                <div class="receive">
                    <ul>
                        <li>
                            <div class="radio">
                                <input type="radio" name="warehouse" id="warehouse1">
                                <label for="warehouse1"></label>
                                <label for="warehouse1">Warehouse 1<i>355 Main Street, 5th Floor, Cambridge, MA 02142</i></label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input type="radio" name="warehouse" id="warehouse2">
                                <label for="warehouse2"></label>
                                <label for="warehouse2">Warehouse 2<i>355 Main Street, 5th Floor, Cambridge, MA 02142</i></label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input type="radio" name="warehouse" id="warehouse3">
                                <label for="warehouse3"></label>
                                <label for="warehouse3">Warehouse 3<i>355 Main Street, 5th Floor, Cambridge, MA 02142</i></label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>