<div class="amazon-category">
    <div class="box">
        <ul>
            <li><a href="/">Electronics</a></li>
            <li class="active"><a href="/">Fashion</a></li>
            <li><a href="/">Collectibles & Art</a></li>
            <li><a href="/">Home, Garden & Tools</a></li>
            <li><a href="/">Home, Garden & Tools</a></li>
        </ul>
    </div>
</div>
<div class="amazon-sub-category">
    <div class="box">
        <ul>
            <li>
                <a href="/">
                    <div class="thumb"><img src="app/common/img/ebay-sub-cate-1.png" alt=""/></div>
                    <div class="name">Women</div>
                </a>
            </li>
            <li>
                <a href="/">
                    <div class="thumb"><img src="app/common/img/ebay-sub-cate-2.png" alt=""/></div>
                    <div class="name">Men</div>
                </a>
            </li>
            <li>
                <a href="/">
                    <div class="thumb"><img src="app/common/img/ebay-sub-cate-3.png" alt=""/></div>
                    <div class="name">Girls</div>
                </a>
            </li>
            <li>
                <a href="/">
                    <div class="thumb"><img src="app/common/img/ebay-sub-cate-4.png" alt=""/></div>
                    <div class="name">Boy</div>
                </a>
            </li>
            <li>
                <a href="/">
                    <div class="thumb"><img src="app/common/img/amazon-sub-cate-1.png" alt=""/></div>
                    <div class="name">TV & Video</div>
                </a>
            </li>
        </ul>
    </div>
</div>