<div class="brand-content">
    <div class="sb-header wow slideInUp" data-wow-delay="0.2s">
        <div class="img"><img src="app/common/img/surf-brand.png" alt="" title=""/></div>
        <div class="text">Explore with <b>Buy For Me</b> service</div>
    </div>
    <div class="sb-content">
        <div class="brand-box wow slideInUp" data-wow-delay="0.2s">
            <div class="title">
                <strong>All Brands</strong>
                <a class="see-all" href="/">See all <i class="fa fa-chevron-right"></i></a>
            </div>
            <div surf-brand-slider class="surfbrand-slider">
                <div class="item"><a href="/"><img src="app/common/img/brand/adidas.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/asics.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/diesel.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/feeding.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/forever21.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/hm.png" alt="" title=""/></a></div>
            </div>
        </div>
        <div class="brand-box wow slideInUp" data-wow-delay="0.2s">
            <div class="title">
                <strong>Large Shopping Mall</strong>
                <a class="see-all" href="/">See all <i class="fa fa-chevron-right"></i></a>
            </div>
            <div surf-brand-slider class="surfbrand-slider">
                <div class="item"><a href="/"><img src="app/common/img/brand/adidas.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/asics.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/diesel.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/feeding.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/forever21.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/hm.png" alt="" title=""/></a></div>
            </div>
        </div>
        <div class="brand-box wow slideInUp" data-wow-delay="0.2s">
            <div class="title">
                <strong>Fashion/Accessories/Jewelry</strong>
                <a class="see-all" href="/">See all <i class="fa fa-chevron-right"></i></a>
            </div>
            <div surf-brand-slider class="surfbrand-slider">
                <div class="item"><a href="/"><img src="app/common/img/brand/adidas.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/asics.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/diesel.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/feeding.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/forever21.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/hm.png" alt="" title=""/></a></div>
            </div>
        </div>
        <div class="brand-box wow slideInUp" data-wow-delay="0.2s">
            <div class="title">
                <strong>Health/Cosmetic/Beauty</strong>
                <a class="see-all" href="/">See all <i class="fa fa-chevron-right"></i></a>
            </div>
            <div surf-brand-slider class="surfbrand-slider">
                <div class="item"><a href="/"><img src="app/common/img/brand/adidas.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/asics.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/diesel.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/feeding.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/forever21.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/hm.png" alt="" title=""/></a></div>
            </div>
        </div>
        <div class="brand-box wow slideInUp" data-wow-delay="0.2s">
            <div class="title">
                <strong>Mom & Kids</strong>
                <a class="see-all" href="/">See all <i class="fa fa-chevron-right"></i></a>
            </div>
            <div surf-brand-slider class="surfbrand-slider">
                <div class="item"><a href="/"><img src="app/common/img/brand/adidas.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/asics.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/diesel.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/feeding.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/forever21.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/hm.png" alt="" title=""/></a></div>
            </div>
        </div>
        <div class="brand-box wow slideInUp" data-wow-delay="0.2s">
            <div class="title">
                <strong>Home/Garden/Kitchen</strong>
                <a class="see-all" href="/">See all <i class="fa fa-chevron-right"></i></a>
            </div>
            <div surf-brand-slider class="surfbrand-slider">
                <div class="item"><a href="/"><img src="app/common/img/brand/adidas.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/asics.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/diesel.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/feeding.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/forever21.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/hm.png" alt="" title=""/></a></div>
            </div>
        </div>
        <div class="brand-box wow slideInUp" data-wow-delay="0.2s">
            <div class="title">
                <strong>Sports & Outdoors</strong>
                <a class="see-all" href="/">See all <i class="fa fa-chevron-right"></i></a>
            </div>
            <div surf-brand-slider class="surfbrand-slider">
                <div class="item"><a href="/"><img src="app/common/img/brand/adidas.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/asics.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/diesel.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/feeding.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/forever21.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="app/common/img/brand/hm.png" alt="" title=""/></a></div>
            </div>
        </div>
    </div>
</div>