<div class="categories amazon-cate">
    <div class="cate-header">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a data-target="#cate-1" role="tab" data-toggle="tab">Books & Audible</a>
            </li>
            <li role="presentation">
                <a data-target="#cate-2" role="tab" data-toggle="tab">Electronics & Computers</a>
            </li>
            <li role="presentation">
                <a data-target="#cate-3" role="tab" data-toggle="tab">Home, Garden & Tools</a>
            </li>
            <li role="presentation">
                <a data-target="#cate-2" role="tab" data-toggle="tab">Electronics & Computers</a>
            </li>
            <li role="presentation">
                <a data-target="#cate-3" role="tab" data-toggle="tab">Home, Garden & Tools</a>
            </li>
        </ul>
    </div>
    <div class="tab-content cate-content">
        <div role="tabpanel" class="tab-pane fade in active" id="cate-1">
            <ul>
                <li><a href="#">TV & Video <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Home Audio & Theater <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Camera, Photo & Video <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Cell Phones & Accessories <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Headphones <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Video Games <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Bluetooth & Wireless Speakers <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Car Electronics <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Musical Instruments <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Electronics Accessories <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Wearable Technology <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Laptops & Tablets <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Desktops & Monitors <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Computer Accessories & Peripherals <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Computer Parts & Components <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Software <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Printers & Ink <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Office & School Supplies <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Trade In Your Electronics <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Networking <i class="fa fa-chevron-right"></i></a></li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="cate-2">
            <ul>
                <li><a href="#">TV & Video <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Home Audio & Theater <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Camera, Photo & Video <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Cell Phones & Accessories <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Headphones <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Video Games <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Bluetooth & Wireless Speakers <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Car Electronics <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Musical Instruments <i class="fa fa-chevron-right"></i></a></li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="cate-3">
            <ul>
                <li><a href="#">TV & Video <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Home Audio & Theater <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Camera, Photo & Video <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Cell Phones & Accessories <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Headphones <i class="fa fa-chevron-right"></i></a></li>
                <li><a href="#">Video Games <i class="fa fa-chevron-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>