<div class="ws-header ws-header-2 ebay-header">
    <!--<a onclick="javascript:history.go(-1);" class="auth-back-btn"></a>-->
    <span class="menu-toggle" ng-click="openMenuToggle();"></span>
    <div class="ws-header-title">
        <span>{{ headTitle }}</span>
    </div>
    <div class="ws-right-nav">
        <ul>
            <li><a href="/checkout"><i class="nav-ico cart"></i></a></li>
            <li><a href="/login"><i class="nav-ico user"></i></a></li>
        </ul>
    </div>
    <div class="search-box amazon-searchbox">
        <div class="left"><img src="common/img/logo-ebay.png"/></div>
        <div class="right">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-menu">
                        <ul class="top">
                            <li><a href="#">TV & Video</a></li>
                            <li><a href="#">Home Audio & Theater</a></li>
                            <li><a href="#">Camera, Photo & Video</a></li>
                            <li><a href="#">Cell Phones & Accessories</a></li>
                            <li><a href="#">Headphones</a></li>
                        </ul>
                        <ul class="bottom">
                            <li><a href="#">Search Global</a></li>
                            <li>
                                <a href="#">
                                    <span>Search</span>
                                    <i class="amz-ico"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Search or Paste product URL">
            <span class="input-group-btn">
                <a href="/checkout" class="btn btn-default" type="button"><i class="search-icon"></i></a>
            </span>
            </div>
        </div>
    </div>
</div>