<div class="ship-calc">
    <div class="sc-header">
        <div class="top">
            <div class="text">Enter your item’s information<br/>to calculate shipping cost</div>
        </div>
        <div class="bottom">
            <div class="cost">Shipping Cost: <b class="text-red">$20</b></div>
            <div class="small">approximately VND 444.444</div>
        </div>
    </div>
    <div class="sc-form">
        <form>
            <div class="form-group">
                <label>Ship from</label>
                <select class="form-control">
                    <option selected disabled>- Select your country -</option>
                    <option>United States</option>
                </select>
            </div>
            <div class="form-group">
                <label>Ship to</label>
                <select class="form-control">
                    <option selected disabled>- Select your country -</option>
                    <option>Vietnam</option>
                </select>
            </div>
            <div class="form-group weight">
                <label>Weight (Minimum 1Lb)</label>
                <div class="form-inline">
                    <input type="text" class="form-control">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>KG</span>
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group dimension">
                <label>Dimensions: (Optional)</label>
                <div class="form-inline">
                    <input type="text" class="form-control" placeholder="Length">
                    <input type="text" class="form-control" placeholder="Width">
                    <input type="text" class="form-control" placeholder="Height">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>CM</span>
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <button type="submit" class="btn btn-default">Estimate</button>
            </div>
        </form>
    </div>
</div>