<div class="ab-content">
    <div class="ab-box">
        <div class="title">Buy from USA Store</div>
        <div class="brand-list">
            <ul>
                <li><a ng-href="/"><img src="assets/img/brand/adidas.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/asics.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/diesel.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/feeding.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/forever21.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/gap.png" alt="" title=""/></a></li>
            </ul>
        </div>
        <div class="see-more">
            <span>See More</span>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
    <div class="ab-box">
        <div class="title">Buy from China Store</div>
        <div class="brand-list">
            <ul>
                <li><a ng-href="/"><img src="assets/img/brand/adidas.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/asics.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/diesel.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/feeding.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/forever21.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/gap.png" alt="" title=""/></a></li>
            </ul>
        </div>
        <div class="see-more">
            <span>See More</span>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
    <div class="ab-box">
        <div class="title">Buy from Korea Store</div>
        <div class="brand-list">
            <ul>
                <li><a ng-href="/"><img src="assets/img/brand/adidas.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/asics.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/diesel.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/feeding.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/forever21.png" alt="" title=""/></a></li>
                <li><a ng-href="/"><img src="assets/img/brand/gap.png" alt="" title=""/></a></li>
            </ul>
        </div>
        <div class="see-more">
            <span>See More</span>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
</div>