<div class="checkout-item">
    <div class="title">
        <span>Your items (3)</span>
        <span class="edit" data-toggle="modal" data-target="#item-edit">Edit</span>
    </div>
    <ul class="list-pd">
        <li>
            <div class="thumb">
                <a ng-href="/"><img src="assets/img/ws-pd3.jpg" alt=""/></a>
            </div>
            <div class="info">
                <div class="pd">
                    <div class="left">
                        <div>Beats Studio Wireless Over-Ear Headphone <span class="option">Size S, Yellow</span></div>
                    </div>
                    <div class="right"><span class="option">1 x</span> 3.853.125 VNĐ</div>
                </div>
                <div class="note">Note: <span class="option">lorem ipsum dolor sit amet...</span></div>
            </div>
        </li>
        <li>
            <div class="thumb">
                <a ng-href="/"><img src="assets/img/ws-pd3.jpg" alt=""/></a>
            </div>
            <div class="info">
                <div class="pd">
                    <div class="left">
                        <div>Beats Studio Wireless Over-Ear Headphone <span class="option">Size S, Yellow</span></div>
                    </div>
                    <div class="right"><span class="option">1 x</span> 3.853.125 VNĐ</div>
                </div>
                <div class="note">Note: <span class="option">lorem ipsum dolor sit amet...</span></div>
            </div>
        </li>
        <li>
            <div class="thumb">
                <a ng-href="/"><img src="assets/img/ws-pd3.jpg" alt=""/></a>
            </div>
            <div class="info">
                <div class="pd">
                    <div class="left">
                        <div>Beats Studio Wireless Over-Ear Headphone <span class="option">Size S, Yellow</span></div>
                    </div>
                    <div class="right"><span class="option">1 x</span> 3.853.125 VNĐ</div>
                </div>
                <div class="note">Note: <span class="option">lorem ipsum dolor sit amet...</span></div>
            </div>
        </li>
    </ul>
</div>
<div class="checkout-item">
    <div class="title">
        <span>Ship to</span>
        <span class="edit" data-toggle="modal" data-target="#">Edit</span>
    </div>
    <div class="receive">
        <div class="name">To Huong Lien - 0977737x23</div>
        <p>lienth@peacesoft.net</p>
        <p>18 Tam Trinh, Hai Ba Trung, Hanoi 100000</p>
        <p>Vietnam</p>
    </div>
    <div class="choose-ship">
        <div class="text"><strong>Choose your preferred shipping option</strong></div>
        <div class="radio">
            <input type="radio" name="ship" id="ship1" checked>
            <label for="ship1"></label>
            <label for="ship1">Shipping once when all packages received</label>
        </div>
        <div class="radio">
            <input type="radio" name="ship" id="ship2" checked>
            <label for="ship2"></label>
            <label for="ship2">Shipping right after each package received <i>(in case order includes many items)</i></label>
        </div>
    </div>
</div>
<div class="checkout-item">
    <div class="title">
        <span>Payment method</span>
    </div>
    <ul class="payment-method">
        <li>
            <div class="radio">
                <input type="radio" name="payment" id="payment1" data-toggle="modal" data-target="#credit">
                <label for="payment1"></label>
                <label for="payment1">Credit Card <i>Discount 10% for HSBC credit card</i></label>
            </div>
            <span class="arrow">
                <i class="fa fa-angle-right"></i>
            </span>
        </li>
        <li data-toggle="modal" data-target="">
            <div class="radio">
                <input type="radio" name="payment" id="payment2">
                <label for="payment2"></label>
                <label for="payment2">Bank Transfer <i>Discount 10% for ATM card</i></label>
            </div>
            <span class="arrow">
                <i class="fa fa-angle-right"></i>
            </span>
        </li>
        <li data-toggle="modal" data-target="">
            <div class="radio">
                <input type="radio" name="payment" id="payment3">
                <label for="payment3"></label>
                <label for="payment3">NganLuong E-Wallet</label>
            </div>
            <span class="arrow">
                <i class="fa fa-angle-right"></i>
            </span>
        </li>
        <li data-toggle="modal" data-target="">
            <div class="radio">
                <input type="radio" name="payment" id="payment4">
                <label for="payment4"></label>
                <label for="payment4">Over Weshop's counter</label>
            </div>
            <span class="arrow">
                <i class="fa fa-angle-right"></i>
            </span>
        </li>
        <li data-toggle="modal" data-target="">
            <div class="radio">
                <input type="radio" name="payment" id="payment5">
                <label for="payment5"></label>
                <label for="payment5">Paypal</label>
            </div>
            <span class="arrow">
                <i class="fa fa-angle-right"></i>
            </span>
        </li>
    </ul>
    <div class="order-info">
        <div class="coupon">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add coupon code">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Add</button>
                </span>
            </div>
        </div>
        <div class="checkbox">
            <input type="checkbox" name="payment" id="term">
            <label for="term"></label>
            <label for="term">I agree with all the <a ng-href="/">Term and conditions</a></label>
        </div>
        <div class="checkbox">
            <input type="checkbox" name="payment" id="vat">
            <label for="vat"></label>
            <label for="vat">I want to receiver VAT invoices</label>
        </div>
        <div class="payment-box">
            <div class="payment-row">
                <div class="left">Item Price:</div>
                <div class="right">12.489.232 VNĐ</div>
            </div>
            <div class="payment-row">
                <div class="left">Discount:</div>
                <div class="right">0</div>
            </div>
            <div class="payment-row">
                <div class="left">Shipping Fee:</div>
                <div class="right">89.232 VNĐ</div>
            </div>
            <div class="payment-row">
                <div class="left">Sale tax:</div>
                <div class="right">489.232 VNĐ</div>
            </div>
            <div class="payment-row total">
                <div class="left">Total Amount:</div>
                <div class="right">13.244.234 VNĐ</div>
            </div>
        </div>
    </div>
</div>

<div class="checkout-button">
    <button type="button" class="btn btn-default">Confirm Order</button>
</div>

<div class="modal fade right" id="credit">
    <div class="modal-dialog payment">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal">
                    <i class="back-ico"></i>
                </a>
                <h4 class="modal-title">Visa / Credit Card</h4>
            </div>
            <div class="modal-body">
                <div class="card-list">
                    <ul>
                        <li><a ng-href="/"><i class="cc-ico jcb"></i></a></li>
                        <li><a ng-href="/"><i class="cc-ico visa"></i></a></li>
                        <li><a ng-href="/"><i class="cc-ico master"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="item-edit">
    <div class="modal-dialog payment">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal">
                    <i class="back-ico"></i>
                </a>
                <h4 class="modal-title">Item Edit</h4>
            </div>
            <div class="modal-body">
                <div class="checkout-item">
                    <ul class="list-pd">
                        <li>
                            <div class="thumb">
                                <a ng-href="/"><img src="assets/img/ws-pd3.jpg" alt=""/></a>
                            </div>
                            <div class="info">
                                <div class="pd">
                                    <div class="left">
                                        <div>Beats Studio Wireless Over-Ear Headphone <span class="option">Size S, Yellow</span></div>
                                    </div>
                                    <div class="right"><a ng-href="/"><i class="fa fa-trash-o"></i> Remove</a></div>
                                </div>
                                <div class="note">Note: <span class="option">lorem ipsum dolor sit amet...</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <a ng-href="/"><img src="assets/img/ws-pd3.jpg" alt=""/></a>
                            </div>
                            <div class="info">
                                <div class="pd">
                                    <div class="left">
                                        <div>Beats Studio Wireless Over-Ear Headphone <span class="option">Size S, Yellow</span></div>
                                    </div>
                                    <div class="right"><a ng-href="/"><i class="fa fa-trash-o"></i> Remove</a></div>
                                </div>
                                <div class="note">Note: <span class="option">lorem ipsum dolor sit amet...</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <a ng-href="/"><img src="assets/img/ws-pd3.jpg" alt=""/></a>
                            </div>
                            <div class="info">
                                <div class="pd">
                                    <div class="left">
                                        <div>Beats Studio Wireless Over-Ear Headphone <span class="option">Size S, Yellow</span></div>
                                    </div>
                                    <div class="right"><a ng-href="/"><i class="fa fa-trash-o"></i> Remove</a></div>
                                </div>
                                <div class="note">Note: <span class="option">lorem ipsum dolor sit amet...</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>