<div class="order-box">
    <div class="title">Order infomation</div>
    <div class="content">
        <div class="order-row">
            <div class="left">Order</div>
            <div class="right">#SH377AC43DOQVN-565686</div>
        </div>
        <div class="order-row">
            <div class="left">Shipment ID</div>
            <div class="right">QVN-565686</div>
        </div>
        <div class="order-row">
            <div class="left">ORDER PLACED</div>
            <div class="right">February 5, 2016</div>
        </div>
    </div>
</div>
<div class="order-box shipping">
    <div class="title">Shipping Address</div>
    <div class="content">
        <div class="order-row">
            <div class="left">Fullname</div>
            <div class="right">KIEU MANH TIEN</div>
        </div>
        <div class="order-row">
            <div class="left">Address:</div>
            <div class="right">Tầng 12A, tòa nhà 18 Tam Trinh, quân Hai Bà Trưng, Hà Nội</div>
        </div>
        <div class="order-row">
            <div class="left">Phone:</div>
            <div class="right">098 4334 232</div>
        </div>
        <div class="order-row">
            <div class="left">Email:</div>
            <div class="right">example@peacesoft.net</div>
        </div>
    </div>
</div>
<div class="order-box payment">
    <div class="title">Payment Method</div>
    <div class="content">
        <div><strong>Visa:</strong> <span class="text-grey">**** **** **** 8373</span></div>
    </div>
</div>
<div class="order-box order-list">
    <div class="title-2">
        <div class="left">Order #1</div>
        <div class="right">
            <a ng-href="/" class="btn btn-default">Track item</a>
        </div>
    </div>
    <div class="content">
        <div class="order-row">
            <div class="left">
                <a ng-href="/"><img src="assets/img/ws-pd.jpg" alt=""/></a>
            </div>
            <div class="right">
                <a ng-href="/" class="name">Axist Men's Quarter Zip Long...</a>
                <div>Sold by: <span class="text-grey">Amazon</span></div>
                <div>Price: <span class="text-grey">200.000 VND</span></div>
                <div>Qty: 1, Color: Blue, Size: M, Condition: New</div>
            </div>
        </div>
    </div>
    <div class="status"><strong class="text-red">Status:</strong> <span>Custom before exiting the airport</span></div>
</div>