<div class="help-me">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a data-target="#help-me-buy" role="tab" data-toggle="tab">Help me buy</a></li>
        <li role="presentation"><a data-target="#help-me-ship" role="tab" data-toggle="tab">Help me ship</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane in active" id="help-me-buy">
            <div class="step-content tab-content">
                <div id="buy-step-1" class="tab-pane animated slideInRight in active">
                    <div class="title">Step 1.</div>
                    <div class="text">Choose International Shipping Method</div>
                </div>
                <div id="buy-step-2" class="tab-pane animated slideInRight">
                    <div class="title">Step 2.</div>
                    <div class="text">Choose International Shipping Method</div>
                </div>
                <div id="buy-step-3" class="tab-pane animated slideInRight">
                    <div class="title">Step 3.</div>
                    <div class="text">Choose International Shipping Method</div>
                </div>
                <div id="buy-step-4" class="tab-pane animated slideInRight">
                    <div class="title">Step 4.</div>
                    <div class="text">Choose International Shipping Method</div>
                </div>
            </div>
            <div class="step-icon-box">
                <ul class="nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a data-target="#buy-step-1" role="tab" data-toggle="tab">
                            <i class="step-ico buy-step-1"></i>
                        </a>
                    </li>
                    <li role="presentation">
                        <a data-target="#buy-step-2" role="tab" data-toggle="tab">
                            <i class="step-ico buy-step-2"></i>
                        </a>
                    </li>
                    <li role="presentation">
                        <a data-target="#buy-step-3" role="tab" data-toggle="tab">
                            <i class="step-ico buy-step-3"></i>
                        </a>
                    </li>
                    <li role="presentation">
                        <a data-target="#buy-step-4" role="tab" data-toggle="tab">
                            <i class="step-ico buy-step-4"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="help-me-ship">
            <div class="step-content tab-content">
                <div id="ship-step-1" class="tab-pane animated slideInRight in active">
                    <div class="title">Step 1.</div>
                    <div class="text">Choose International Shipping Method</div>
                </div>
                <div id="ship-step-2" class="tab-pane animated slideInRight">
                    <div class="title">Step 2.</div>
                    <div class="text">Choose International Shipping Method</div>
                </div>
                <div id="ship-step-3" class="tab-pane animated slideInRight">
                    <div class="title">Step 3.</div>
                    <div class="text">Choose International Shipping Method</div>
                </div>
                <div id="ship-step-4" class="tab-pane animated slideInRight">
                    <div class="title">Step 4.</div>
                    <div class="text">Choose International Shipping Method</div>
                </div>
            </div>
            <div class="step-icon-box">
                <ul class="nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a data-target="#ship-step-1" role="tab" data-toggle="tab">
                            <i class="step-ico buy-step-1"></i>
                        </a>
                    </li>
                    <li role="presentation">
                        <a data-target="#ship-step-2" role="tab" data-toggle="tab">
                            <i class="step-ico buy-step-2"></i>
                        </a>
                    </li>
                    <li role="presentation">
                        <a data-target="#ship-step-3" role="tab" data-toggle="tab">
                            <i class="step-ico buy-step-3"></i>
                        </a>
                    </li>
                    <li role="presentation">
                        <a data-target="#ship-step-4" role="tab" data-toggle="tab">
                            <i class="step-ico buy-step-4"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>