<div class="account-setting">
    <div class="as-tab-head">
        <ul class="nav nav-tabs choose-setting" role="tablist">
            <!--<li role="presentation" data-target="#billing" data-toggle="tab" class="active"><a>Billing</a></li>-->
            <!--<li role="presentation" data-target="#shipping" data-toggle="tab"><a>Shipping</a></li>-->
            <li role="presentation" data-target="#gen-info" data-toggle="tab" class="active"><a>General info</a></li>
            <!--<li role="presentation" data-target="#noti" data-toggle="tab"><a>Notification</a></li>-->
            <li role="presentation" data-target="#member" data-toggle="tab"><a>Membership</a></li>
        </ul>
    </div>
    <div class="tab-content as-tab-content">
        <!--<div role="tabpanel" class="tab-pane fade in active" id="billing"></div>-->
        <!--<div role="tabpanel" class="tab-pane fade" id="shipping">-->
            <!--<div class="setting-box shipping">-->
                <!--<div class="title">-->
                    <!--<div class="text">Shipping method</div>-->
                    <!--<div class="see"><span>Help me choose</span></div>-->
                <!--</div>-->
                <!--<div class="item-list">-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<div class="radio">-->
                                    <!--<input name="ship" id="ship1" checked="" type="radio">-->
                                    <!--<label for="ship1"></label>-->
                                    <!--<label for="ship1">-->
                                        <!--<div class="text1">WeShop Trusted Carrier Network 1</div>-->
                                        <!--<div class="text2">4 to 8 business days</div>-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<div class="radio">-->
                                    <!--<input name="ship" id="ship2" checked="" type="radio">-->
                                    <!--<label for="ship2"></label>-->
                                    <!--<label for="ship2">-->
                                        <!--<div class="text1">WeShop Trusted Carrier Network 2</div>-->
                                        <!--<div class="text2">4 to 8 business days</div>-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="setting-box">-->
                <!--<div class="title">-->
                    <!--<div class="text">My address</div>-->
                    <!--<div class="see"><span>Edit</span></div>-->
                <!--</div>-->
                <!--<div class="item-list">-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<span class="ico ico5"></span>-->
                                <!--<div class="text">-->
                                    <!--<b class="text1">Suit ID Number: <span>123-123</span></b>-->
                                    <!--<span class="nation">United State</span>-->
                                    <!--<span class="text2">Kieu Manh Tien - 355 Main Street, 5th Floor...</span>-->
                                <!--</div>-->
                                <!--<i class="fa fa-angle-right"></i>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<span class="ico ico5"></span>-->
                                <!--<div class="text">-->
                                    <!--<b class="text1">Suit ID Number: <span>123-123</span></b>-->
                                    <!--<span class="nation">United Kingdom</span>-->
                                    <!--<span class="text2">Kieu Manh Tien - 355 Main Street, 5th Floor...</span>-->
                                <!--</div>-->
                                <!--<i class="fa fa-angle-right"></i>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<div class="add-address">-->
                        <!--<span class="ico ico6"></span>-->
                        <!--<b class="text">Add new address</b>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="setting-box shipping">-->
                <!--<div class="title">-->
                    <!--<div class="text">Other default setting</div>-->
                    <!--<div class="see"><span>Help me choose</span></div>-->
                <!--</div>-->
                <!--<div class="item-list">-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<div class="radio">-->
                                    <!--<input name="setting" id="setting1" checked="" type="radio">-->
                                    <!--<label for="setting1"></label>-->
                                    <!--<label for="setting1">-->
                                        <!--<div class="text1">Shipment Insurance</div>-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<div class="radio">-->
                                    <!--<input name="setting" id="setting2" checked="" type="radio">-->
                                    <!--<label for="setting2"></label>-->
                                    <!--<label for="setting2">-->
                                        <!--<div class="text1">Least expensive option</div>-->
                                        <!--<div class="text2">WeShop Trusted Carrier Network, 4-8 days</div>-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div role="tabpanel" class="tab-pane in active fade" id="gen-info">
            <div class="setting-box">
                <div class="title">My profile</div>
                <div class="item-list">
                    <ul>
                        <li data-toggle="modal" data-target="#change-email">
                            <div class="item">
                                <span class="ico ico1"></span>
                                <div class="text">
                                    <b class="text1">Email</b>
                                    <span class="text2">lienth@peacesoft.net</span>
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <span class="ico ico2"></span>
                                <div class="text">
                                    <b class="text1">Name</b>
                                    <span class="text2">Eckdanger</span>
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </li>
                        <li data-toggle="modal" data-target="#change-phone">
                            <div class="item">
                                <span class="ico ico3"></span>
                                <div class="text">
                                    <b class="text1">Phone</b>
                                    <span class="text2">09777x7322</span>
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </li>
                        <li data-toggle="modal" data-target="#change-password">
                            <div class="item">
                                <span class="ico ico4"></span>
                                <div class="text">
                                    <b class="text1">Password</b>
                                    <span class="text2">*********</span>
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="setting-box">
                <div class="title">My suit addresses</div>
                <div class="item-list">
                    <ul>
                        <li>
                            <div class="item">
                                <span class="ico ico5"></span>
                                <div class="text">
                                    <b class="text1">Suit ID Number: <span>123-123</span></b>
                                    <span class="nation">United State</span>
                                    <span class="text2">Kieu Manh Tien - 355 Main Street, 5th Floor...</span>
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <span class="ico ico5"></span>
                                <div class="text">
                                    <b class="text1">Suit ID Number: <span>123-123</span></b>
                                    <span class="nation">United Kingdom</span>
                                    <span class="text2">Kieu Manh Tien - 355 Main Street, 5th Floor...</span>
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </li>
                    </ul>
                    <div class="add-address" data-toggle="modal" data-target="#add-address">
                        <span class="ico ico6"></span>
                        <b class="text">Add new address</b>
                    </div>
                </div>
            </div>
            <div class="setting-box">
                <div class="title">My prefer deliver address</div>
                <div class="item-list">
                    <ul>
                        <li>
                            <div class="item">
                                <span class="ico ico5"></span>
                                <div class="text">
                                    <b class="text1">Address</b>
                                    <span class="prefer">Kieu Manh Tien - <span>355 Main Street, 5th Floor...</span></span>
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <span class="ico ico5"></span>
                                <div class="text">
                                    <b class="text1">Address</b>
                                    <span class="prefer">Kieu Manh Tien - <span>355 Main Street, 5th Floor...</span></span>
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </li>
                    </ul>
                    <div class="add-address">
                        <span class="ico ico6"></span>
                        <b class="text">Add new address</b>
                    </div>
                </div>
            </div>
            <div class="setting-box">
                <div class="title">Account Option</div>
                <div class="item-list">
                    <ul>
                        <li>
                            <div class="item">
                                <span class="ico ico7"></span>
                                <div class="text">
                                    <b class="text1">Nationality</b>
                                    <span class="text2">Vietnam</span>
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <span class="ico ico8"></span>
                                <div class="text">
                                    <b class="text1">Language</b>
                                    <span class="text2">Tiếng Việt</span>
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <span class="ico ico9"></span>
                                <div class="text">
                                    <b class="text1">Currency</b>
                                    <span class="text2">VND</span>
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <span class="ico ico9"></span>
                                <div class="text">
                                    <b class="text1">Membership Level</b>
                                    <span class="text2">Basic</span>
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <span class="ico ico10"></span>
                                <div class="text">
                                    <b class="text1">About Weshop App</b>
                                    <span class="text2">Version 1.0 beta</span>
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--<div role="tabpanel" class="tab-pane fade" id="noti">-->
            <!--<div class="setting-box">-->
                <!--<div class="title">You'll get emails for:</div>-->
                <!--<div class="item-list noti">-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<div class="checkbox">-->
                                    <!--<input id="noti1" type="checkbox">-->
                                    <!--<label for="noti1"></label>-->
                                    <!--<label for="noti1">Top-up verification</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<div class="checkbox">-->
                                    <!--<input id="noti2" type="checkbox">-->
                                    <!--<label for="noti2"></label>-->
                                    <!--<label for="noti2">Withdrawal request</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<div class="checkbox">-->
                                    <!--<input id="noti3" type="checkbox">-->
                                    <!--<label for="noti3"></label>-->
                                    <!--<label for="noti3">Order unpaid remind</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<div class="checkbox">-->
                                    <!--<input id="noti4" type="checkbox">-->
                                    <!--<label for="noti4"></label>-->
                                    <!--<label for="noti4">Order cancellation</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<div class="checkbox">-->
                                    <!--<input id="noti5" type="checkbox">-->
                                    <!--<label for="noti5"></label>-->
                                    <!--<label for="noti5">Ship-for-me order received</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<div class="checkbox">-->
                                    <!--<input id="noti6" type="checkbox">-->
                                    <!--<label for="noti6"></label>-->
                                    <!--<label for="noti6">Item arrived WeShop US warehouse</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<div class="checkbox">-->
                                    <!--<input id="noti7" type="checkbox">-->
                                    <!--<label for="noti7"></label>-->
                                    <!--<label for="noti7">Item is in request review</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="setting-box noti">-->
                <!--<div class="title">How you get notifications</div>-->
                <!--<div class="item-list">-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<span class="ico ico1"></span>-->
                                <!--<div class="text">-->
                                    <!--<b class="text1">Email</b>-->
                                <!--</div>-->
                                <!--<i class="fa fa-angle-right"></i>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<span class="ico ico11"></span>-->
                                <!--<div class="text">-->
                                    <!--<b class="text1">Text Message</b>-->
                                <!--</div>-->
                                <!--<i class="fa fa-angle-right"></i>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<span class="ico ico12"></span>-->
                                <!--<div class="text">-->
                                    <!--<b class="text1">Facebook</b>-->
                                <!--</div>-->
                                <!--<i class="fa fa-angle-right"></i>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="item">-->
                                <!--<span class="ico ico3"></span>-->
                                <!--<div class="text">-->
                                    <!--<b class="text1">Viber</b>-->
                                <!--</div>-->
                                <!--<i class="fa fa-angle-right"></i>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div role="tabpanel" class="tab-pane fade" id="member">
            <div class="member-info">
                <b>Your current plan: Basic</b>
                <span>Expires on: 22:09 6 March 2016</span>
            </div>
            <div class="member-tabs">
                <ul class="nav nav-tabs choose-member" role="tablist">
                    <li data-target="#basic" data-toggle="tab" class="active">
                        <a>
                            <b class="text1">Basic</b>
                            <span class="text2">Free</span>
                        </a>
                    </li>
                    <li data-target="#gold" data-toggle="tab">
                        <a>
                            <b class="text1">Gold</b>
                            <span class="text2">$60 annual</span>
                        </a>
                    </li>
                    <li data-target="#diamond" role="tab" data-toggle="tab">
                        <a>
                            <b class="text1">Diamond</b>
                            <span class="text2">$100 annual</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="member-tab-content tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="basic">
                    <div class="benefit-list">
                        <ul>
                            <li>Free Inspection</li>
                            <li>Free Package Consolidation</li>
                            <li>Free Package Repacking</li>
                            <li>
                                <span class="left">Free Package Storage</span>
                                <span class="right">40 days</span>
                            </li>
                            <li>
                                <span class="left">International Shipping Discount</span>
                                <span class="right">10%</span>
                            </li>
                            <li>
                                <span class="left">Actual weight guaranteed ship rate</span>
                                <span class="right">No</span>
                            </li>
                            <li>
                                <span class="left">On-time shipping guarantee & Real-time Shipment Tracking</span>
                                <span class="right">Yes</span>
                            </li>
                            <li>
                                <span class="left">WeShop service fee</span>
                                <span class="right">6%</span>
                            </li>
                            <li>
                                <span class="left">Credit redeem program (~1%++)</span>
                                <span class="right">Yes</span>
                            </li>
                            <li>
                                <span class="left">$100 Free Insurance</span>
                                <span class="right">Yes</span>
                            </li>
                            <li>
                                <span class="left">Online Account Management</span>
                                <span class="right">Yes</span>
                            </li>
                            <li>
                                <span class="left">Additional Names on Account</span>
                                <span class="right">Unlimited</span>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-box">
                        <a type="button" class="btn btn-default" ng-href="/checkout">Choose plan</a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="gold">
                    <div class="benefit-list">
                        <ul>
                            <li>Free Inspection</li>
                            <li>Free Package Consolidation</li>
                            <li>Free Package Repacking</li>
                            <li>
                                <span class="left">Free Package Storage</span>
                                <span class="right">40 days</span>
                            </li>
                            <li>
                                <span class="left">International Shipping Discount</span>
                                <span class="right">10%</span>
                            </li>
                            <li>
                                <span class="left">Actual weight guaranteed ship rate</span>
                                <span class="right">No</span>
                            </li>
                            <li>
                                <span class="left">On-time shipping guarantee & Real-time Shipment Tracking</span>
                                <span class="right">Yes</span>
                            </li>
                            <li>
                                <span class="left">WeShop service fee</span>
                                <span class="right">6%</span>
                            </li>
                            <li>
                                <span class="left">Credit redeem program (~1%++)</span>
                                <span class="right">Yes</span>
                            </li>
                            <li>
                                <span class="left">$100 Free Insurance</span>
                                <span class="right">Yes</span>
                            </li>
                            <li>
                                <span class="left">Online Account Management</span>
                                <span class="right">Yes</span>
                            </li>
                            <li>
                                <span class="left">Additional Names on Account</span>
                                <span class="right">Unlimited</span>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-box">
                        <a type="button" class="btn btn-default" ng-href="/checkout">Choose plan</a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="diamond"><div class="benefit-list">
                    <ul>
                        <li>Free Inspection</li>
                        <li>Free Package Consolidation</li>
                        <li>Free Package Repacking</li>
                        <li>
                            <span class="left">Free Package Storage</span>
                            <span class="right">40 days</span>
                        </li>
                        <li>
                            <span class="left">International Shipping Discount</span>
                            <span class="right">10%</span>
                        </li>
                        <li>
                            <span class="left">Actual weight guaranteed ship rate</span>
                            <span class="right">No</span>
                        </li>
                        <li>
                            <span class="left">On-time shipping guarantee & Real-time Shipment Tracking</span>
                            <span class="right">Yes</span>
                        </li>
                        <li>
                            <span class="left">WeShop service fee</span>
                            <span class="right">6%</span>
                        </li>
                        <li>
                            <span class="left">Credit redeem program (~1%++)</span>
                            <span class="right">Yes</span>
                        </li>
                        <li>
                            <span class="left">$100 Free Insurance</span>
                            <span class="right">Yes</span>
                        </li>
                        <li>
                            <span class="left">Online Account Management</span>
                            <span class="right">Yes</span>
                        </li>
                        <li>
                            <span class="left">Additional Names on Account</span>
                            <span class="right">Unlimited</span>
                        </li>
                    </ul>
                </div>
                    <div class="btn-box">
                        <a type="button" class="btn btn-default" ng-href="/checkout">Choose plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="change-email">
    <div class="modal-dialog filter backend-modal">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal">
                    <i class="back-ico"></i>
                </a>
                <h4 class="modal-title">Change Email</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="Phone number" disabled>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Old Email">
                    </div>
                    <button type="button" class="btn btn-default btn-verify">Verify</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="change-phone">
    <div class="modal-dialog filter backend-modal">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal">
                    <i class="back-ico"></i>
                </a>
                <h4 class="modal-title">Change Phone</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" disabled>
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="Phone number">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="Old phone number">
                    </div>
                    <button type="button" class="btn btn-default btn-verify">Verify</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="change-password">
    <div class="modal-dialog filter backend-modal">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal">
                    <i class="back-ico"></i>
                </a>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Old password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="New password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Re-type new password">
                    </div>
                    <button type="button" class="btn btn-default btn-verify">Verify</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="add-address">
    <div class="modal-dialog filter backend-modal">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal">
                    <i class="back-ico"></i>
                </a>
                <h4 class="modal-title">Add new adress</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Full name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Address line 1">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Address line 2">
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option selected disabled>Country</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option selected disabled>City / Province</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option selected disabled>Sub district</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ward">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Make this my primary address
                            </label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default btn-verify">Verify</button>
                </form>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="node_modules/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="node_modules/slick-carousel/slick/slick-theme.css"/>
<script type="text/javascript" src="node_modules/slick-carousel/slick/slick.min.js"></script>
<script>
    $('.choose-setting').slick({
        centerMode: true,
        centerPadding: '300px',
        slidesToShow: 1,
        focusOnSelect: true,
        arrows: false,
        responsive: [
            {
                breakpoint: 677,
                settings: {
                    centerPadding: '270px'
                }
            },
            {
                breakpoint: 641,
                settings: {
                    centerPadding: '240px'
                }
            },
            {
                breakpoint: 534,
                settings: {
                    centerPadding: '180px'
                }
            },
            {
                breakpoint: 481,
                settings: {
                    centerPadding: '160px'
                }
            },
            {
                breakpoint: 415,
                settings: {
                    centerPadding: '130px'
                }
            },
            {
                breakpoint: 361,
                settings: {
                    centerPadding: '100px'
                }
            }
        ]
    });

    $('.choose-member').slick({
        centerMode: true,
        centerPadding: '250px',
        slidesToShow: 1,
        focusOnSelect: true,
        arrows: false,
        responsive: [
            {
                breakpoint: 677,
                settings: {
                    centerPadding: '230px'
                }
            },
            {
                breakpoint: 534,
                settings: {
                    centerPadding: '180px'
                }
            },
            {
                breakpoint: 481,
                settings: {
                    centerPadding: '150px'
                }
            },
            {
                breakpoint: 415,
                settings: {
                    centerPadding: '120px'
                }
            },
            {
                breakpoint: 361,
                settings: {
                    centerPadding: '100px'
                }
            }
        ]
    });
    $('[data-target="#member"]').on('shown.bs.tab', function (e) {
        $('.choose-member').resize();
    });
</script>