<div class="backend-content">
    <div class="be-tab-content coupon-content">
        <div class="item-filter">
            <div class="item-numb">10 items</div>
            <div class="filter"><span>Filter</span></div>
        </div>
        <div class="invoice-list">
            <div class="invoice-box">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>Coupon Code:</td>
                            <td>WD33234</td>
                        </tr>
                        <tr>
                            <td>Apply to:</td>
                            <td>Purchase Order <a ng-href="/">#23424234234</a></td>
                        </tr>
                        <tr>
                            <td>Value:</td>
                            <td>200.000 VND</td>
                        </tr>
                        <tr>
                            <td width="35%">Expired Date:</td>
                            <td width="65%">10:30pm 18 Feb 2016</td>
                        </tr>
                        <tr>
                            <td>Payment Status:</td>
                            <td><span class="tag complete">Un-used</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="invoice-box">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>Coupon Code:</td>
                            <td>EBAY20</td>
                        </tr>
                        <tr>
                            <td>Apply to:</td>
                            <td>On the Shipment Tracking ID <a ng-href="/">#23424234234</a></td>
                        </tr>
                        <tr>
                            <td>Value:</td>
                            <td>200.000 VND</td>
                        </tr>
                        <tr>
                            <td width="35%">Expired Date:</td>
                            <td width="65%">10:30pm 18 Feb 2016</td>
                        </tr>
                        <tr>
                            <td>Payment Status:</td>
                            <td><span class="tag unpaid">Used</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="invoice-box">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>Coupon Code:</td>
                            <td>WD33234</td>
                        </tr>
                        <tr>
                            <td>Apply to:</td>
                            <td>Shipping</td>
                        </tr>
                        <tr>
                            <td>Value:</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <td width="35%">Expired Date:</td>
                            <td width="65%">10:30pm 18 Feb 2016</td>
                        </tr>
                        <tr>
                            <td>Payment Status:</td>
                            <td><span class="tag expired">Expired</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>