<div class="backend-content">
    <div class="be-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#item" role="tab" data-toggle="tab">Items</a></li>
            <li role="presentation"><a data-target="#seller" role="tab" data-toggle="tab">Saved Sellers</a></li>
            <li role="presentation"><a data-target="#search" role="tab" data-toggle="tab">Saved Search</a></li>
        </ul>
    </div>
    <div class="be-tab-content tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="item">
            <div class="item-filter">
                <div class="item-numb">10 items</div>
                <div class="filter"><span>Filter</span></div>
            </div>
            <div class="item-list">
                <ul>
                    <li>
                        <div class="item">
                            <div class="item-head">
                                <div class="left">
                                    <div class="check-item">
                                        <input type="checkbox" name="message" id="item1"/>
                                        <label for="item1"></label>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">Buy it now</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Buy it now</a></li>
                                            <li><a href="#">View similar items</a></li>
                                            <li><a href="#">View seller's other items</a></li>
                                            <li><a href="#">Contact WeShop</a></li>
                                            <li><a href="#">Follow this seller</a></li>
                                            <li><a href="#">Add to list</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="assets/img/ws-pd.jpg" alt="" title=""/></span></div>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">Axist Men's Quarter Zip Long...</div>
                                    </div>
                                    <div class="box2">
                                        <div class="desc">Blue, M, New</div>
                                        <div class="price">1.200.000 VND <span>( Free ship )</span></div>
                                        <div class="bid-info"><span>Time:</span> 5h 39m 12s - Thursday, 9:08 AM</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="item-list">
                <ul>
                    <li>
                        <div class="item">
                            <div class="item-head">
                                <div class="left">
                                    <div class="check-item">
                                        <input type="checkbox" name="message" id="item1"/>
                                        <label for="item1"></label>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">Buy it now</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Buy it now</a></li>
                                            <li><a href="#">View similar items</a></li>
                                            <li><a href="#">View seller's other items</a></li>
                                            <li><a href="#">Contact WeShop</a></li>
                                            <li><a href="#">Follow this seller</a></li>
                                            <li><a href="#">Add to list</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="assets/img/ws-pd.jpg" alt="" title=""/></span></div>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">Axist Men's Quarter Zip Long...</div>
                                    </div>
                                    <div class="box2">
                                        <div class="desc">Blue, M, New</div>
                                        <div class="price">1.200.000 VND <span>( Free ship )</span></div>
                                        <div class="bid-info"><span>Time:</span> 5h 39m 12s - Thursday, 9:08 AM</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="item-list">
                <ul>
                    <li>
                        <div class="item">
                            <div class="item-head">
                                <div class="left">
                                    <div class="check-item">
                                        <input type="checkbox" name="message" id="item1"/>
                                        <label for="item1"></label>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">Buy it now</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Buy it now</a></li>
                                            <li><a href="#">View similar items</a></li>
                                            <li><a href="#">View seller's other items</a></li>
                                            <li><a href="#">Contact WeShop</a></li>
                                            <li><a href="#">Follow this seller</a></li>
                                            <li><a href="#">Add to list</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="assets/img/ws-pd.jpg" alt="" title=""/></span></div>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">Axist Men's Quarter Zip Long...</div>
                                    </div>
                                    <div class="box2">
                                        <div class="desc">Blue, M, New</div>
                                        <div class="price">1.200.000 VND <span>( Free ship )</span></div>
                                        <div class="bid-info"><span>Time:</span> 5h 39m 12s - Thursday, 9:08 AM</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="seller">
            <div class="item-filter">
                <div class="item-numb">10 items</div>
                <div class="filter"><span>Filter</span></div>
            </div>
            <div class="item-list">
                <ul>
                    <li>
                        <div class="item">
                            <div class="item-head">
                                <div class="left">
                                    <div class="check-item">
                                        <input type="checkbox" name="message" id="item2"/>
                                        <label for="item2"></label>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View Seller's items</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Buy it now</a></li>
                                            <li><a href="#">View similar items</a></li>
                                            <li><a href="#">View seller's other items</a></li>
                                            <li><a href="#">Contact WeShop</a></li>
                                            <li><a href="#">Follow this seller</a></li>
                                            <li><a href="#">Add to list</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="assets/img/ws-pd.jpg" alt="" title=""/></span></div>
                                </div>
                                <div class="info">
                                    <div class="box2">
                                        <div class="bid-info"><b>Aalipinkpink</b> 100.0% Positive feedback</div>
                                        <div class="bid-info"><span>Added:</span> 08/17/14</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item-head">
                                <div class="left">
                                    <div class="check-item">
                                        <input type="checkbox" name="message" id="item4"/>
                                        <label for="item4"></label>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View Seller's items</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Buy it now</a></li>
                                            <li><a href="#">View similar items</a></li>
                                            <li><a href="#">View seller's other items</a></li>
                                            <li><a href="#">Contact WeShop</a></li>
                                            <li><a href="#">Follow this seller</a></li>
                                            <li><a href="#">Add to list</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="assets/img/ws-pd.jpg" alt="" title=""/></span></div>
                                </div>
                                <div class="info">
                                    <div class="box2">
                                        <div class="bid-info"><b>Aalipinkpink</b></div>
                                        <div class="bid-info">100.0% Positive feedback</div>
                                        <div class="bid-info"><span>Added:</span> 08/17/14</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="search">

        </div>
    </div>
</div>