<div class="backend-content">
    <div class="be-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#all" role="tab" data-toggle="tab">All</a></li>
            <li role="presentation"><a data-target="#won" role="tab" data-toggle="tab">Won</a></li>
            <li role="presentation"><a data-target="#lose" role="tab" data-toggle="tab">Didn't win</a></li>
        </ul>
    </div>
    <div class="be-tab-content tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="all">
            <div class="item-filter">
                <div class="item-numb">10 items</div>
                <div class="filter"><span>Filter</span></div>
            </div>
            <div class="item-list">
                <ul>
                    <li>
                        <div class="item">
                            <div class="item-head">
                                <div class="left">
                                    <div class="check-item">
                                        <input type="checkbox" name="message" id="item1"/>
                                        <label for="item1"></label>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">Increase your Bid</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Buy it now</a></li>
                                            <li><a href="#">View similar items</a></li>
                                            <li><a href="#">View seller's other items</a></li>
                                            <li><a href="#">Contact WeShop</a></li>
                                            <li><a href="#">Follow this seller</a></li>
                                            <li><a href="#">Add to list</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                                    <span class="status">High bidder</span>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">Axist Men's Quarter Zip Long...</div>
                                        <div class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span>More</span>
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box2">
                                        <div class="desc">Blue, M, New</div>
                                        <div class="price">1.200.000 VND</div>
                                        <div class="bid-info"><span>Time:</span> 5h 39m 12s - Thursday, 9:08 AM</div>
                                        <div class="bid-info"><span>Your max bid:</span> 200.000 VND</div>
                                        <div class="bid-info"><span>Buy it now:</span> 780.000 VND</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item-head">
                                <div class="left">
                                    <div class="check-item">
                                        <input type="checkbox" name="message" id="item2"/>
                                        <label for="item2"></label>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">Increase your Bid</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Buy it now</a></li>
                                            <li><a href="#">View similar items</a></li>
                                            <li><a href="#">View seller's other items</a></li>
                                            <li><a href="#">Contact WeShop</a></li>
                                            <li><a href="#">Follow this seller</a></li>
                                            <li><a href="#">Add to list</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                                    <span class="status">Out Bid</span>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">Axist Men's Quarter Zip Long...</div>
                                        <div class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span>More</span>
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box2">
                                        <div class="desc">Blue, M, New</div>
                                        <div class="price">1.200.000 VND</div>
                                        <div class="bid-info"><span>Time:</span> 5h 39m 12s - Thursday, 9:08 AM</div>
                                        <div class="bid-info"><span>Your max bid:</span> 200.000 VND</div>
                                        <div class="bid-info"><span>Buy it now:</span> 780.000 VND</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item-head">
                                <div class="left">
                                    <div class="check-item">
                                        <input type="checkbox" name="message" id="item3"/>
                                        <label for="item3"></label>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">Increase your Bid</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Buy it now</a></li>
                                            <li><a href="#">View similar items</a></li>
                                            <li><a href="#">View seller's other items</a></li>
                                            <li><a href="#">Contact WeShop</a></li>
                                            <li><a href="#">Follow this seller</a></li>
                                            <li><a href="#">Add to list</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                                    <span class="status">End Soon</span>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">Axist Men's Quarter Zip Long...</div>
                                        <div class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span>Action</span>
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box2">
                                        <div class="desc">Blue, M, New</div>
                                        <div class="price">1.200.000 VND</div>
                                        <div class="bid-info"><span>Time:</span> 5h 39m 12s - Thursday, 9:08 AM</div>
                                        <div class="bid-info"><span>Your max bid:</span> 200.000 VND</div>
                                        <div class="bid-info"><span>Buy it now:</span> 780.000 VND</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item-head">
                                <div class="left">
                                    <div class="check-item">
                                        <input type="checkbox" name="message" id="item4"/>
                                        <label for="item4"></label>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">Increase your Bid</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Buy it now</a></li>
                                            <li><a href="#">View similar items</a></li>
                                            <li><a href="#">View seller's other items</a></li>
                                            <li><a href="#">Contact WeShop</a></li>
                                            <li><a href="#">Follow this seller</a></li>
                                            <li><a href="#">Add to list</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                                    <span class="status">Won</span>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">Axist Men's Quarter Zip Long...</div>
                                        <div class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span>Action</span>
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box2">
                                        <div class="desc">Blue, M, New</div>
                                        <div class="price">1.200.000 VND</div>
                                        <div class="bid-info"><span>Time:</span> 5h 39m 12s - Thursday, 9:08 AM</div>
                                        <div class="bid-info"><span>Your max bid:</span> 200.000 VND</div>
                                        <div class="bid-info"><span>Buy it now:</span> 780.000 VND</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="item-head">
                                <div class="left">
                                    <div class="check-item">
                                        <input type="checkbox" name="message" id="item5"/>
                                        <label for="item5"></label>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">Increase your Bid</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Buy it now</a></li>
                                            <li><a href="#">View similar items</a></li>
                                            <li><a href="#">View seller's other items</a></li>
                                            <li><a href="#">Contact WeShop</a></li>
                                            <li><a href="#">Follow this seller</a></li>
                                            <li><a href="#">Add to list</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                                    <span class="status">Didn't win</span>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">Axist Men's Quarter Zip Long...</div>
                                        <div class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span>Action</span>
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box2">
                                        <div class="desc">Blue, M, New</div>
                                        <div class="price">1.200.000 VND</div>
                                        <div class="bid-info"><span>Time:</span> 5h 39m 12s - Thursday, 9:08 AM</div>
                                        <div class="bid-info"><span>Your max bid:</span> 200.000 VND</div>
                                        <div class="bid-info"><span>Buy it now:</span> 780.000 VND</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="won">

        </div>
        <div role="tabpanel" class="tab-pane fade" id="lose">

        </div>
    </div>
</div>