<div class="backend-content">
    <div class="be-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#resolution" role="tab" data-toggle="tab">Resolution Center</a></li>
            <li role="presentation"><a data-target="#return" role="tab" data-toggle="tab">Return</a></li>
            <li role="presentation"><a data-target="#refund" role="tab" data-toggle="tab">Refund</a></li>
        </ul>
    </div>
    <div class="be-tab-content tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="resolution">
            <div class="item-filter">
                <div class="item-numb">10 items</div>
                <div class="filter"><span>Filter</span></div>
            </div>
            <div class="item-list">
                <ul>
                    <li>
                        <div class="item">
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                                    <span class="status">Complete</span>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">Axist Men's Quarter Zip Long...</div>
                                        <div class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span>Action</span>
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box2">
                                        <div class="item-row">
                                            <div class="ir-left">Case ID:</div>
                                            <div class="ir-right">112-3343-11</div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Open on:</div>
                                            <div class="ir-right"><span class="time">10:30pm</span><span class="date">18 Feb 2016</span></div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Amount:</div>
                                            <div class="ir-right">800.000 VND</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="problem">
                                <b>Problem:</b>
                                <span>You haven't paid for this item yet</span>
                            </div>
                            <div class="update">
                                <b>Last Update:</b>
                                <span>Lorem Ipsum is simply dummy</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                                    <span class="status">Complete</span>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">Axist Men's Quarter Zip Long...</div>
                                        <div class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span>Action</span>
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box2">
                                        <div class="item-row">
                                            <div class="ir-left">Case ID:</div>
                                            <div class="ir-right">112-3343-11</div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Open on:</div>
                                            <div class="ir-right"><span class="time">10:30pm</span><span class="date">18 Feb 2016</span></div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Amount:</div>
                                            <div class="ir-right">800.000 VND</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="problem">
                                <b>Problem:</b>
                                <span>You haven't paid for this item yet</span>
                            </div>
                            <div class="update">
                                <b>Last Update:</b>
                                <span>Lorem Ipsum is simply dummy</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="return">
            <div class="item-filter">
                <div class="item-numb">10 items</div>
                <div class="filter"><span>Filter</span></div>
            </div>
            <div class="item-list return">
                <ul>
                    <li>
                        <div class="item">
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">Axist Men's Quarter Zip Long...</div>
                                        <div class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span>Action</span>
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box2">
                                        <div class="item-row">
                                            <div class="ir-left">Sold by:</div>
                                            <div class="ir-right">Claris0238</div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Tracking ID:</div>
                                            <div class="ir-right">112-1231-11</div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Case Related:</div>
                                            <div class="ir-right">#1224-231-23</div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Amount:</div>
                                            <div class="ir-right">800.000 VND</div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Returning Fee:</div>
                                            <div class="ir-right">200.000 VND</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="status">
                                <div class="text">Status:</div>
                                <div class="tag-box">
                                    <ul>
                                        <li><span class="tag">Unpaid</span></li>
                                        <li><span class="tag">Not shipped</span></li>
                                        <li><span class="tag">Wait for approval</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">Axist Men's Quarter Zip Long...</div>
                                        <div class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span>Action</span>
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box2">
                                        <div class="item-row">
                                            <div class="ir-left">Sold by:</div>
                                            <div class="ir-right">Claris0238</div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Tracking ID:</div>
                                            <div class="ir-right">112-1231-11</div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Case Related:</div>
                                            <div class="ir-right">#1224-231-23</div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Amount:</div>
                                            <div class="ir-right">800.000 VND</div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Returning Fee:</div>
                                            <div class="ir-right">200.000 VND</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="status">
                                <div class="text">Status:</div>
                                <div class="tag-box">
                                    <ul>
                                        <li><span class="tag">Unpaid</span></li>
                                        <li><span class="tag">Not shipped</span></li>
                                        <li><span class="tag">Wait for approval</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="refund">
            <div class="item-filter">
                <div class="item-numb">10 items</div>
                <div class="filter"><span>Filter</span></div>
            </div>
            <div class="item-list refund">
                <ul>
                    <li>
                        <div class="item">
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">Axist Men's Quarter Zip Long...</div>
                                    </div>
                                    <div class="box2">
                                        <div class="item-row">
                                            <div class="ir-left">Sold by:</div>
                                            <div class="ir-right">Amazon</div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Case Related:</div>
                                            <div class="ir-right">#1224-231-23</div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Amount:</div>
                                            <div class="ir-right">800.000 VND</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="note-box">
                                <div class="text"><span>Reasons & Note:</span> You haven't paid for this item yet ...</div>
                                <div class="btn-box">
                                    <button class="btn btn-default">View detail</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">Axist Men's Quarter Zip Long...</div>
                                    </div>
                                    <div class="box2">
                                        <div class="item-row">
                                            <div class="ir-left">Sold by:</div>
                                            <div class="ir-right">Amazon</div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Case Related:</div>
                                            <div class="ir-right">#1224-231-23</div>
                                        </div>
                                        <div class="item-row">
                                            <div class="ir-left">Amount:</div>
                                            <div class="ir-right">800.000 VND</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="note-box">
                                <div class="text"><span>Reasons & Note:</span> You haven't paid for this item yet ...</div>
                                <div class="btn-box">
                                    <button class="btn btn-default">View detail</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>