<div class="be-header">
    <span class="back-btn"></span>
    <div class="title">My Account</div>
    <div class="user-content">
        <ul>
            <li><a class="user-nav" ng-href="/backend/notify-purchase"><i class="noti-ico"></i></a></li>
            <li>
                <div class="user-avatar">
                    <span onclick="$('.upload-avatar').click();">
                        <img src="common/img/user-avatar.jpg" alt="" title=""/>
                    </span>
                    <input type="file" class="hide upload-avatar"/>
                </div>
            </li>
            <li><a class="user-nav" ng-href="/backend/account-setting"><i class="setting-ico"></i></a></li>
        </ul>
        <div class="name">Eckdanger</div>
        <div class="suite-id">Suite ID: 12345432</div>
    </div>
</div>