<div class="backend-content">
    <div class="be-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#all" role="tab" data-toggle="tab">All invoices</a></li>
            <li role="presentation"><a data-target="#unpaid" role="tab" data-toggle="tab">Unpaid Invoices</a></li>
            <li role="presentation"><a data-target="#history" role="tab" data-toggle="tab">Payment History</a></li>
        </ul>
    </div>
    <div class="be-tab-content tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="all">
            <div class="invoice-list">
                <div class="invoice-box">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td width="35%">Issued Date:</td>
                                <td width="65%">10:30pm 18 Feb 2016</td>
                            </tr>
                            <tr>
                                <td>Invoice ID:</td>
                                <td>IV-221123</td>
                            </tr>
                            <tr>
                                <td>Invoice info:</td>
                                <td>Payment order #992312223</td>
                            </tr>
                            <tr>
                                <td>Total Amount:</td>
                                <td>3.000.000 VND</td>
                            </tr>
                            <tr>
                                <td>Payment Status:</td>
                                <td><span class="tag complete">Complete</span></td>
                            </tr>
                            <tr>
                                <td>Export to:</td>
                                <td><span class="export">Choose here</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="invoice-box">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td width="35%">Issued Date:</td>
                                <td width="65%">10:30pm 18 Feb 2016</td>
                            </tr>
                            <tr>
                                <td>Invoice ID:</td>
                                <td>IV-221123</td>
                            </tr>
                            <tr>
                                <td>Invoice info:</td>
                                <td>Payment order #992312223</td>
                            </tr>
                            <tr>
                                <td>Total Amount:</td>
                                <td>3.000.000 VND</td>
                            </tr>
                            <tr>
                                <td>Payment Status:</td>
                                <td>
                                    <span class="tag unpaid">Unpaid</span>
                                    <a ng-href="/" class="pay">Pay now</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Export to:</td>
                                <td><span class="export">Choose here</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="unpaid">
            <div class="invoice-list">
                <div class="invoice-box">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td width="35%">Issued Date:</td>
                                <td width="65%">10:30pm 18 Feb 2016</td>
                            </tr>
                            <tr>
                                <td>Invoice ID:</td>
                                <td>IV-221123</td>
                            </tr>
                            <tr>
                                <td>Invoice info:</td>
                                <td>Payment order #992312223</td>
                            </tr>
                            <tr>
                                <td>Total Amount:</td>
                                <td>3.000.000 VND</td>
                            </tr>
                            <tr>
                                <td>Payment Status:</td>
                                <td>
                                    <span class="tag unpaid">Unpaid</span>
                                    <a ng-href="/" class="pay">Pay now</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Export to:</td>
                                <td><span class="export">Choose here</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="invoice-box">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td width="35%">Issued Date:</td>
                                <td width="65%">10:30pm 18 Feb 2016</td>
                            </tr>
                            <tr>
                                <td>Invoice ID:</td>
                                <td>IV-221123</td>
                            </tr>
                            <tr>
                                <td>Invoice info:</td>
                                <td>Payment order #992312223</td>
                            </tr>
                            <tr>
                                <td>Total Amount:</td>
                                <td>3.000.000 VND</td>
                            </tr>
                            <tr>
                                <td>Payment Status:</td>
                                <td>
                                    <span class="tag unpaid">Unpaid</span>
                                    <a ng-href="/" class="pay">Pay now</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Export to:</td>
                                <td><span class="export">Choose here</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="history">
            <div class="invoice-list">
                <div class="invoice-box">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td width="35%">Issued Date:</td>
                                <td width="65%">10:30pm 18 Feb 2016</td>
                            </tr>
                            <tr>
                                <td>Invoice ID:</td>
                                <td>IV-221123</td>
                            </tr>
                            <tr>
                                <td>Invoice info:</td>
                                <td>Payment order #992312223</td>
                            </tr>
                            <tr>
                                <td>Total Amount:</td>
                                <td>3.000.000 VND</td>
                            </tr>
                            <tr>
                                <td>Payment Status:</td>
                                <td><span class="tag complete">Complete</span></td>
                            </tr>
                            <tr>
                                <td>Export to:</td>
                                <td><span class="export">Choose here</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="invoice-box">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td width="35%">Issued Date:</td>
                                <td width="65%">10:30pm 18 Feb 2016</td>
                            </tr>
                            <tr>
                                <td>Invoice ID:</td>
                                <td>IV-221123</td>
                            </tr>
                            <tr>
                                <td>Invoice info:</td>
                                <td>Payment order #992312223</td>
                            </tr>
                            <tr>
                                <td>Total Amount:</td>
                                <td>3.000.000 VND</td>
                            </tr>
                            <tr>
                                <td>Payment Status:</td>
                                <td><span class="tag complete">Complete</span></td>
                            </tr>
                            <tr>
                                <td>Export to:</td>
                                <td><span class="export">Choose here</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>