<div class="backend-content">
    <div class="be-tab-content tab-content">
        <div class="item-filter">
            <div class="item-numb">10 items</div>
            <div class="filter"><span>Filter</span></div>
        </div>
        <div class="item-add-btn">
            <button type="button" class="btn btn-default">
                <i class="fa fa-plus"></i>
                <span>Add purchase/shipment</span>
            </button>
        </div>
        <div class="item-list">
            <ul>
                <li>
                    <div class="item">
                        <div class="item-head">
                            <div class="left">
                                <div class="noti-id"><b>Notify ID:</b> <a ng-href="/">WS1323</a></div>
                            </div>
                            <div class="right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>Action</span>
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Delete</a></li>
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">View Attach</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top">
                            <div class="thumb">
                                <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                            </div>
                            <div class="info">
                                <div class="box2">
                                    <div class="item-row">
                                        <div class="ir-left">Tracking ID:</div>
                                        <div class="ir-right">WS324234</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Order date:</div>
                                        <div class="ir-right"><span class="time">10:30pm</span><span class="date">18 Feb 2016</span></div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Description:</div>
                                        <div class="ir-right">Zara Dress</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Vendor:</div>
                                        <div class="ir-right">Amazon</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Value:</div>
                                        <div class="ir-right">800.000 VND</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">QTY:</div>
                                        <div class="ir-right">1</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Total:</div>
                                        <div class="ir-right">8.000.000 VND</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Status:</div>
                                        <div class="ir-right"><span class="text-green">Noted by WeShop</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="top">
                            <div class="thumb">
                                <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                            </div>
                            <div class="info">
                                <div class="box2">
                                    <div class="item-row">
                                        <div class="ir-left">Tracking ID:</div>
                                        <div class="ir-right">WS324234</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Order date:</div>
                                        <div class="ir-right"><span class="time">10:30pm</span><span class="date">18 Feb 2016</span></div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Description:</div>
                                        <div class="ir-right">Zara Dress</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Vendor:</div>
                                        <div class="ir-right">Amazon</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Value:</div>
                                        <div class="ir-right">800.000 VND</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">QTY:</div>
                                        <div class="ir-right">1</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Total:</div>
                                        <div class="ir-right">8.000.000 VND</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Status:</div>
                                        <div class="ir-right"><span class="text-green">Arrived Package ID #23565432</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="item-list">
            <ul>
                <li>
                    <div class="item">
                        <div class="item-head">
                            <div class="left">
                                <div class="noti-id"><b>Notify ID:</b> <a ng-href="/">WS1323</a></div>
                            </div>
                            <div class="right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>Action</span>
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Delete</a></li>
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">View Attach</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top">
                            <div class="thumb">
                                <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                            </div>
                            <div class="info">
                                <div class="box2">
                                    <div class="item-row">
                                        <div class="ir-left">Tracking ID:</div>
                                        <div class="ir-right">WS324234</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Order date:</div>
                                        <div class="ir-right"><span class="time">10:30pm</span><span class="date">18 Feb 2016</span></div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Description:</div>
                                        <div class="ir-right">Zara Dress</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Vendor:</div>
                                        <div class="ir-right">Amazon</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Value:</div>
                                        <div class="ir-right">800.000 VND</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">QTY:</div>
                                        <div class="ir-right">1</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Total:</div>
                                        <div class="ir-right">8.000.000 VND</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Status:</div>
                                        <div class="ir-right"><span class="text-green">Noted by WeShop</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="top">
                            <div class="thumb">
                                <div class="img"><span><img src="common/img/ws-pd.jpg" alt="" title=""/></span></div>
                            </div>
                            <div class="info">
                                <div class="box2">
                                    <div class="item-row">
                                        <div class="ir-left">Tracking ID:</div>
                                        <div class="ir-right">WS324234</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Order date:</div>
                                        <div class="ir-right"><span class="time">10:30pm</span><span class="date">18 Feb 2016</span></div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Description:</div>
                                        <div class="ir-right">Zara Dress</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Vendor:</div>
                                        <div class="ir-right">Amazon</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Value:</div>
                                        <div class="ir-right">800.000 VND</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">QTY:</div>
                                        <div class="ir-right">1</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Total:</div>
                                        <div class="ir-right">8.000.000 VND</div>
                                    </div>
                                    <div class="item-row">
                                        <div class="ir-left">Status:</div>
                                        <div class="ir-right"><span class="text-green">Arrived Package ID #23565432</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>