<div class="ws-header ws-header-2">
    <!--<a onclick="javascript:history.go(-1);" class="auth-back-btn"></a>-->
    <span class="menu-toggle" ng-click="openMenuToggle();"></span>
    <div class="ws-header-title">
        <span>{{ headTitle }}</span>
    </div>
    <div class="search-box">
        <form ng-submit="find(search.keyword)">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="search.keyword" placeholder="Search or Paste product URL">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="search-icon"></i></button>
                </span>
            </div>
        </form>
    </div>
</div>