<div class="left-menu {{ portal }}">
    <div class="top">
        <div class="avatar">
            <a href="/"><img src="common/img/user-avatar.jpg" alt=""/></a>
        </div>
        <div class="username"><a href="/">Amanda Seyfried</a></div>
        <div class="suite-id">Suit ID: 12343534</div>
        <div class="menu-nav">
            <ul>
                <li>
                    <a href="/backend/account-dashboard">
                        <i class="nav-ico user"></i>
                    </a>
                </li>
                <li>
                    <a ng-href="/cart">
                        <i class="nav-ico checkout"></i>
                        <span class="badge">42</span>
                    </a>
                </li>
                <li>
                    <a ng-href="/notification">
                        <i class="nav-ico noti"></i>
                        <span class="badge">42</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="menu-list">
        <ul class="menu-content {{ portalLv2 }}">
            <li>
                <a href="/">
                    <i class="menu-ico home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="portal {{ portalLv3 }}">
                <a href="/amazon">
                    <i class="menu-ico amazon"></i>
                    <span>Shop by Amazon</span>
                </a>
                <span class="sub-btn amazon" ng-click="openSubMenuAmz($event);"><i class="fa fa-chevron-right"></i></span>
                <div class="sub-content">
                    <ul>
                        <li ng-click="backSubMenu();"><i class="fa fa-chevron-left"></i> <span>Shop Amazon</span></li>
                        <li><a href="#">Thời trang</a></li>
                        <li><a href="#">Đồng hồ</a></li>
                        <li><a href="#">Trang sức</a></li>
                        <li><a href="#">Nội thất & gia dụng</a></li>
                        <li><a href="#">Giày dép</a></li>
                        <li><a href="#">Đồ chơi trẻ em</a></li>
                        <li><a href="#">Làm đẹp</a></li>
                        <li><a href="#">Thực phẩm chức năng</a></li>
                        <li><a href="#">Điện tử công nghệ</a></li>
                        <li><a href="#">Điện thoại & máy tính</a></li>
                    </ul>
                </div>
            </li>
            <li class="portal {{ portalLv4 }}">
                <a href="/ebay">
                    <i class="menu-ico ebay"></i>
                    <span>Shop by Ebay</span>
                </a>
                <span class="sub-btn ebay" ng-click="openSubMenuEbay($event);"><i class="fa fa-chevron-right"></i></span>
                <div class="sub-content">
                    <ul>
                        <li ng-click="backSubMenu();"><i class="fa fa-chevron-left"></i> <span>Shop Ebay</span></li>
                        <li><a href="#">Thời trang</a></li>
                        <li><a href="#">Đồng hồ</a></li>
                        <li><a href="#">Trang sức</a></li>
                        <li><a href="#">Nội thất & gia dụng</a></li>
                        <li><a href="#">Giày dép</a></li>
                        <li><a href="#">Đồ chơi trẻ em</a></li>
                        <li><a href="#">Làm đẹp</a></li>
                        <li><a href="#">Thực phẩm chức năng</a></li>
                        <li><a href="#">Điện tử công nghệ</a></li>
                        <li><a href="#">Điện thoại & máy tính</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/">
                    <i class="menu-ico brand"></i>
                    <span>Surf by Brands</span>
                </a>
            </li>
            <li class="sub-cate">
                <a ng-click="openSubMenu2($event);">
                    <i class="menu-ico pricing"></i>
                    <span>Pricing</span>
                </a>
                <div class="sub-content">
                    <ul>
                        <li ng-click="backSubMenu();"><i class="fa fa-chevron-left"></i> <span>Pricing</span></li>
                        <li><a href="#">Shipping cost</a></li>
                        <li>
                            <a href="#">
                                Retail pricing plan
                                <span class="small">Shipping international cost from $7/kg</span>
                            </a>
                        </li>
                        <li><a href="#">Wholesale Pricing plan</a></li>
                        <li><a href="#">Service cost (from 4%)</a></li>
                        <li><a href="#">VAS Service</a></li>
                        <li><a href="#">Shipping Calculator</a></li>
                    </ul>
                </div>
            </li>
            <li class="sub-cate">
                <a ng-click="openSubMenu2($event);">
                    <i class="menu-ico help-shop"></i>
                    <span>Help me Shop</span>
                </a>
                <div class="sub-content">
                    <ul>
                        <li ng-click="backSubMenu();"><i class="fa fa-chevron-left"></i> <span>Customer Support</span></li>
                        <li><a href="#">Help me shop request (fee from 4%)</a></li>
                        <li><a href="#">US top stores</a></li>
                    </ul>
                </div>
            </li>
            <li class="sub-cate">
                <a ng-click="openSubMenu2($event);">
                    <i class="menu-ico help-ship"></i>
                    <span>Help me Ship</span>
                </a>
                <div class="sub-content">
                    <ul>
                        <li ng-click="backSubMenu();"><i class="fa fa-chevron-left"></i> <span>Customer Support</span></li>
                        <li><a href="#">Register a free US address</a></li>
                        <li><a href="#">Notify Weshop for incoming purchases</a></li>
                    </ul>
                </div>
            </li>
            <li class="sub-cate">
                <a ng-click="openSubMenu2($event);">
                    <i class="menu-ico support"></i>
                    <span>Customer Support</span>
                </a>
                <div class="sub-content">
                    <ul>
                        <li ng-click="backSubMenu();"><i class="fa fa-chevron-left"></i> <span>Customer Support</span></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Help/FAQ</a></li>
                        <li><a href="#">Shipping Calculator</a></li>
                        <li><a href="#">Size chart</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/">
                    <i class="menu-ico lang"></i>
                    <span>Language: English</span>
                </a>
            </li>
            <li>
                <!--<a href="/order-tracking">-->
                    <!--<i class="menu-ico order"></i>-->
                    <!--<span>Order Tracking</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/">-->
                    <!--<i class="menu-ico ship-cal"></i>-->
                    <!--<span>Shipping Calculator</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/">-->
                    <!--<i class="menu-ico help"></i>-->
                    <!--<span>Help/FAQ</span>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>
<div class="overlay-bg" ng-click="closeMenuToggle()"></div>