<div class="backend-content">
    <div class="message-content">
        <div class="mes-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a data-target="#inbox" role="tab" data-toggle="tab">
                        <span class="icon inbox"></span>
                        <span class="text">Inbox</span>
                    </a>
                </li>
                <li role="presentation">
                    <a data-target="#sent" role="tab" data-toggle="tab">
                        <span class="icon sent"></span>
                        <span class="text">Sent</span>
                    </a>
                </li>
                <li role="presentation">
                    <a data-target="#trash" role="tab" data-toggle="tab">
                        <span class="icon trash"></span>
                        <span class="text">Trash</span>
                    </a>
                </li>
                <li role="presentation">
                    <a data-target="#archive" role="tab" data-toggle="tab">
                        <span class="icon archive"></span>
                        <span class="text">Archive</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content mes-content">
            <div role="tabpanel" class="tab-pane fade in active" id="inbox">
                <div class="mes-list">
                    <ul>
                        <li class="unread">
                            <div class="item">
                                <div class="check-mes">
                                    <input type="checkbox" name="message" id="mes1"/>
                                    <label for="mes1"></label>
                                </div>
                                <div class="detail">
                                    <div class="content">
                                        <div class="name">eBay</div>
                                        <div class="desc">Your order was canceled...</div>
                                    </div>
                                    <div class="time">Feb 25</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="check-mes">
                                    <input type="checkbox" name="message" id="mes2"/>
                                    <label for="mes2"></label>
                                </div>
                                <div class="detail">
                                    <div class="content">
                                        <div class="name">eBay</div>
                                        <div class="desc">Your order was canceled...</div>
                                    </div>
                                    <div class="time">Feb 25</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="check-mes">
                                    <input type="checkbox" name="message" id="mes3"/>
                                    <label for="mes3"></label>
                                </div>
                                <div class="detail">
                                    <div class="content">
                                        <div class="name">eBay</div>
                                        <div class="desc">Your order was canceled...</div>
                                    </div>
                                    <div class="time">Feb 25</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="check-mes">
                                    <input type="checkbox" name="message" id="mes4"/>
                                    <label for="mes4"></label>
                                </div>
                                <div class="detail">
                                    <div class="content">
                                        <div class="name">eBay</div>
                                        <div class="desc">Your order was canceled...</div>
                                    </div>
                                    <div class="time">Feb 25</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="sent">
                <div class="mes-list">
                    <ul>
                        <li>
                            <div class="item">
                                <div class="check-mes">
                                    <input type="checkbox" name="message" id="mes5"/>
                                    <label for="mes5"></label>
                                </div>
                                <div class="detail">
                                    <div class="content">
                                        <div class="name">eBay</div>
                                        <div class="desc">Your order was canceled...</div>
                                    </div>
                                    <div class="time">Feb 25</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="check-mes">
                                    <input type="checkbox" name="message" id="mes6"/>
                                    <label for="mes6"></label>
                                </div>
                                <div class="detail">
                                    <div class="content">
                                        <div class="name">eBay</div>
                                        <div class="desc">Your order was canceled...</div>
                                    </div>
                                    <div class="time">Feb 25</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="check-mes">
                                    <input type="checkbox" name="message" id="mes7"/>
                                    <label for="mes7"></label>
                                </div>
                                <div class="detail">
                                    <div class="content">
                                        <div class="name">eBay</div>
                                        <div class="desc">Your order was canceled...</div>
                                    </div>
                                    <div class="time">Feb 25</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="trash">
                <div class="mes-list">
                    <ul>
                        <li>
                            <div class="item">
                                <div class="check-mes">
                                    <input type="checkbox" name="message" id="mes8"/>
                                    <label for="mes8"></label>
                                </div>
                                <div class="detail">
                                    <div class="content">
                                        <div class="name">eBay</div>
                                        <div class="desc">Your order was canceled...</div>
                                    </div>
                                    <div class="time">Feb 25</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="check-mes">
                                    <input type="checkbox" name="message" id="mes9"/>
                                    <label for="mes9"></label>
                                </div>
                                <div class="detail">
                                    <div class="content">
                                        <div class="name">eBay</div>
                                        <div class="desc">Your order was canceled...</div>
                                    </div>
                                    <div class="time">Feb 25</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="check-mes">
                                    <input type="checkbox" name="message" id="mes10"/>
                                    <label for="mes10"></label>
                                </div>
                                <div class="detail">
                                    <div class="content">
                                        <div class="name">eBay</div>
                                        <div class="desc">Your order was canceled...</div>
                                    </div>
                                    <div class="time">Feb 25</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="archive">
                <div class="mes-list">
                    <ul>
                        <li>
                            <div class="item">
                                <div class="check-mes">
                                    <input type="checkbox" name="message" id="mes11"/>
                                    <label for="mes11"></label>
                                </div>
                                <div class="detail">
                                    <div class="content">
                                        <div class="name">eBay</div>
                                        <div class="desc">Your order was canceled...</div>
                                    </div>
                                    <div class="time">Feb 25</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="check-mes">
                                    <input type="checkbox" name="message" id="mes12"/>
                                    <label for="mes12"></label>
                                </div>
                                <div class="detail">
                                    <div class="content">
                                        <div class="name">eBay</div>
                                        <div class="desc">Your order was canceled...</div>
                                    </div>
                                    <div class="time">Feb 25</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="check-mes">
                                    <input type="checkbox" name="message" id="mes13"/>
                                    <label for="mes3"></label>
                                </div>
                                <div class="detail">
                                    <div class="content">
                                        <div class="name">eBay</div>
                                        <div class="desc">Your order was canceled...</div>
                                    </div>
                                    <div class="time">Feb 25</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>