<div class="backend-content my-package">
    <div class="be-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#all" role="tab" data-toggle="tab">All</a></li>
            <li role="presentation"><a data-target="#ready-ship" role="tab" data-toggle="tab">Ready to ship</a></li>
            <li role="presentation"><a data-target="#shipped" role="tab" data-toggle="tab">Shipped</a></li>
        </ul>
    </div>
    <div class="be-tab-content tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="all">
            <div class="item-filter">
                <div class="item-numb">10 items</div>
                <div class="filter"><span>Filter</span></div>
            </div>
            <div class="item-list">
                <div class="list-head">
                    <div class="left">
                        <div class="order-info">
                            <b>Package ID</b>
                            <a ng-href="/">US-232-23</a>
                        </div>
                        <div class="info">05/01/16  |  2.460.000 VND</div>
                    </div>
                    <div class="right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Contact WeShop</button>
                        </div>
                    </div>
                </div>
                <ul>
                    <li class="dropdown">
                        <div class="item">
                            <div class="top">
                                <div class="thumb multi">
                                    <div class="img-box">
                                        <div class="img1">
                                            <span><img src="assets/img/ws-pd2.jpg" alt="" title=""/></span>
                                        </div>
                                        <div class="img1">
                                            <span><img src="assets/img/ws-pd2.jpg" alt="" title=""/></span>
                                            <div class="numb-multi">+3</div>
                                        </div>
                                    </div>
                                    <span class="status">Not Available</span>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">From Ebay <span class="text-grey">2.80kg</span></div>
                                        <div class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-detail">
                                                    <div class="show-detail">
                                                        <span>Detail</span>
                                                        <i class="fa fa-caret-down"></i>
                                                    </div>
                                                    <div class="hide-detail">
                                                        <span>Hide</span>
                                                        <i class="fa fa-caret-right"></i>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box2">
                                        <div class="bid-info">Free basic storage - Basic inspection free</div>
                                        <div class="bid-info">Basic Photos, Gift wrap</div>
                                        <div class="choose-option">
                                            <a ng-href="/">Choose Optional Package Service</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-content">
                                <div class="title">Shipment Detail:</div>
                                <ul class="item-list">
                                    <li>
                                        <div class="sub-item">
                                            <div class="sub-thumb"><span><img src="assets/img/ws-pd2.jpg" alt="" title=""/></span></div>
                                            <div class="sub-info">
                                                <p>1 x Diapers, Diaper Liners, Adult Sanitary...</p>
                                                <p class="text-grey">Photo, Detailed inspection, Insurance</p>
                                                <p>Value per unit <span class="text-grey">2.200.000 VND</span></p>
                                                <p>Total line value <span class="text-grey">2.200.000 VND</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-item">
                                            <div class="sub-thumb"><span><img src="assets/img/ws-pd2.jpg" alt="" title=""/></span></div>
                                            <div class="sub-info">
                                                <p>1 x Diapers, Diaper Liners, Adult Sanitary...</p>
                                                <p class="text-grey">Photo, Detailed inspection, Insurance</p>
                                                <p>Value per unit <span class="text-grey">2.200.000 VND</span></p>
                                                <p>Total line value <span class="text-grey">2.200.000 VND</span></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="item-list">
                <div class="list-head">
                    <div class="left">
                        <div class="order-info">
                            <b>Package ID</b>
                            <a ng-href="/">US-232-23</a>
                        </div>
                        <div class="info">05/01/16  |  2.460.000 VND</div>
                    </div>
                    <div class="right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Track Package</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Buy it now</a></li>
                                <li><a href="#">View similar items</a></li>
                                <li><a href="#">View seller's other items</a></li>
                                <li><a href="#">Contact WeShop</a></li>
                                <li><a href="#">Follow this seller</a></li>
                                <li><a href="#">Add to list</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul>
                    <li class="dropdown">
                        <div class="item">
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="assets/img/ws-pd.jpg" alt="" title=""/></span></div>
                                    <span class="status ready">Ready to Ship</span>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">From Ebay <span class="text-grey">2.80kg</span></div>
                                        <div class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-detail">
                                                    <div class="show-detail">
                                                        <span>Detail</span>
                                                        <i class="fa fa-caret-down"></i>
                                                    </div>
                                                    <div class="hide-detail">
                                                        <span>Hide</span>
                                                        <i class="fa fa-caret-right"></i>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box2">
                                        <div class="bid-info">Free basic storage - Basic inspection free</div>
                                        <div class="bid-info">Basic Photos, Gift wrap</div>
                                        <div class="choose-option">
                                            <a ng-href="/">Choose Optional Package Service</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-content">
                                <div class="title"></div>
                                <ul class="item-list">
                                    <li>
                                        <div class="sub-item">
                                            <div class="sub-thumb"><span><img src="assets/img/ws-pd2.jpg" alt="" title=""/></span></div>
                                            <div class="sub-info">
                                                <p>1 x Diapers, Diaper Liners, Adult Sanitary...</p>
                                                <p class="text-grey">Photo, Detailed inspection, Insurance</p>
                                                <p>Value per unit <span class="text-grey">2.200.000 VND</span></p>
                                                <p>Total line value <span class="text-grey">2.200.000 VND</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-item">
                                            <div class="sub-thumb"><span><img src="assets/img/ws-pd2.jpg" alt="" title=""/></span></div>
                                            <div class="sub-info">
                                                <p>1 x Diapers, Diaper Liners, Adult Sanitary...</p>
                                                <p class="text-grey">Photo, Detailed inspection, Insurance</p>
                                                <p>Value per unit <span class="text-grey">2.200.000 VND</span></p>
                                                <p>Total line value <span class="text-grey">2.200.000 VND</span></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="item-list alert">
                <div class="list-head">
                    <div class="left">
                        <div class="order-info">
                            <b>Package ID</b>
                            <a ng-href="/">US-232-23</a>
                        </div>
                        <div class="info">05/01/16  |  2.460.000 VND</div>
                    </div>
                    <div class="right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Track Package</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Buy it now</a></li>
                                <li><a href="#">View similar items</a></li>
                                <li><a href="#">View seller's other items</a></li>
                                <li><a href="#">Contact WeShop</a></li>
                                <li><a href="#">Follow this seller</a></li>
                                <li><a href="#">Add to list</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="alert-box"><b>Alert:</b> Please pay for the 2nd invoice to receive this item</div>
                <ul>
                    <li class="dropdown">
                        <div class="item">
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="assets/img/ws-pd.jpg" alt="" title=""/></span></div>
                                    <span class="status shipped">Shipped</span>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">From Ebay <span class="text-grey">2.80kg</span></div>
                                        <div class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-detail">
                                                    <div class="show-detail">
                                                        <span>Detail</span>
                                                        <i class="fa fa-caret-down"></i>
                                                    </div>
                                                    <div class="hide-detail">
                                                        <span>Hide</span>
                                                        <i class="fa fa-caret-right"></i>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box2">
                                        <div class="bid-info">Free basic storage - Basic inspection free</div>
                                        <div class="bid-info">Basic Photos, Gift wrap</div>
                                        <div class="choose-option">
                                            <a ng-href="/">Choose Optional Package Service</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-content">
                                <div class="title"></div>
                                <ul class="item-list">
                                    <li>
                                        <div class="sub-item">
                                            <div class="sub-thumb"><span><img src="assets/img/ws-pd2.jpg" alt="" title=""/></span></div>
                                            <div class="sub-info">
                                                <p>1 x Diapers, Diaper Liners, Adult Sanitary...</p>
                                                <p class="text-grey">Photo, Detailed inspection, Insurance</p>
                                                <p>Value per unit <span class="text-grey">2.200.000 VND</span></p>
                                                <p>Total line value <span class="text-grey">2.200.000 VND</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-item">
                                            <div class="sub-thumb"><span><img src="assets/img/ws-pd2.jpg" alt="" title=""/></span></div>
                                            <div class="sub-info">
                                                <p>1 x Diapers, Diaper Liners, Adult Sanitary...</p>
                                                <p class="text-grey">Photo, Detailed inspection, Insurance</p>
                                                <p>Value per unit <span class="text-grey">2.200.000 VND</span></p>
                                                <p>Total line value <span class="text-grey">2.200.000 VND</span></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id=ready-ship>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="shipped">

        </div>
    </div>
</div>

<div class="modal fade bottom" id="filter">
    <div class="modal-dialog filter">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal">
                    <i class="close-ico"></i>
                </a>
                <h4 class="modal-title">Order filter</h4>
                <a class="submit" data-dismiss="modal">
                    <i class="submit-ico"></i>
                </a>
            </div>
            <div class="modal-body">
                <div class="filter-block list">
                    <ul class="fil-list">
                        <li>
                            <div class="fil-row" data-dismiss="modal" data-toggle="modal" data-target="#filter-category">
                                <div class="fil-left">
                                    <b>Search All Order</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text blue-text">#234-2354534534-34534534</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="fil-row" data-dismiss="modal" data-toggle="modal" data-target="#filter-brand">
                                <div class="fil-left">
                                    <b>Order Status</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text blue-text">Not paid</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="fil-row" data-dismiss="modal" data-toggle="modal" data-target="#filter-size">
                                <div class="fil-left">
                                    <b>By Time</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text blue-text">7 days</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.btn-detail').click(function () {
        $(this).parents().eq(6).toggleClass('open');
        $(this).parents().eq(5).find('.dropdown-content').stop().slideToggle(500);
    });
</script>