<div class="backend-content">
    <div class="be-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#balance" role="tab" data-toggle="tab">Balance</a></li>
            <li role="presentation"><a data-target="#buck" role="tab" data-toggle="tab">Bucks</a></li>
        </ul>
    </div>
    <div class="be-tab-content tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="balance">
            <div class="balance-list">
                <ul class="choose-balance">
                    <li>
                        <a class="item">
                            <span class="icon"></span>
                            <span class="balance">100.000.000 vnd</span>
                            <span class="available">Frozen</span>
                        </a>
                    </li>
                    <li>
                        <a class="item">
                            <span class="icon"></span>
                            <span class="balance">100.000.000 vnd</span>
                            <span class="available">Available balance</span>
                        </a>
                    </li>
                    <li>
                        <a class="item">
                            <span class="icon"></span>
                            <span class="balance">100.000.000 vnd</span>
                            <span class="available">Total in VND</span>
                        </a>
                    </li>
                    <li>
                        <a class="item">
                            <span class="icon"></span>
                            <span class="balance">100.000.000 vnd</span>
                            <span class="available">Available balance</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="wallet-action">
                <ul>
                    <li>
                        <a data-toggle="modal" data-target="#topup">
                            <span class="icon topup"></span>
                            <span class="text">Top up</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#withdraw">
                            <span class="icon withdraw"></span>
                            <span class="text">Withdraw</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="wallet-info">
                <div class="title">Wallet History</div>
                <div class="info-table">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td width="35%">Data:</td>
                                <td width="65%">10:30pm 18 Feb 2016</td>
                            </tr>
                            <tr>
                                <td>Transaction ID:</td>
                                <td>BD21123D323</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td>Top up your wallet</td>
                            </tr>
                            <tr>
                                <td>Payment method:</td>
                                <td>Visa</td>
                            </tr>
                            <tr>
                                <td>Amount:</td>
                                <td>+100.000 VND</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-table">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td width="35%">Data:</td>
                                <td width="65%">10:30pm 18 Feb 2016</td>
                            </tr>
                            <tr>
                                <td>Transaction ID:</td>
                                <td>BD21123D323</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td>Top up your wallet</td>
                            </tr>
                            <tr>
                                <td>Payment method:</td>
                                <td>Visa</td>
                            </tr>
                            <tr>
                                <td>Amount:</td>
                                <td>+100.000 VND</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="buck">
            <div class="balance-list">
                <ul>
                    <li class="active">
                        <a href="/" class="item">
                            <span class="icon"></span>
                            <span class="balance">100.000.000 vnd</span>
                            <span class="available">Available balance</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="wallet-action">
                <ul>
                    <li>
                        <a ng-href="/">
                            <span class="icon topup"></span>
                            <span class="text">Top up</span>
                        </a>
                    </li>
                    <li>
                        <a ng-href="/">
                            <span class="icon withdraw"></span>
                            <span class="text">Withdraw</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="wallet-info">
                <div class="title">Buck History</div>
                <div class="info-table">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td width="35%">Data:</td>
                                <td width="65%">10:30pm 18 Feb 2016</td>
                            </tr>
                            <tr>
                                <td>Transaction ID:</td>
                                <td>BD21123D323</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td>Top up your wallet</td>
                            </tr>
                            <tr>
                                <td>Payment method:</td>
                                <td>Visa</td>
                            </tr>
                            <tr>
                                <td>Amount:</td>
                                <td>+100.000 VND</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-table">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td width="35%">Data:</td>
                                <td width="65%">10:30pm 18 Feb 2016</td>
                            </tr>
                            <tr>
                                <td>Transaction ID:</td>
                                <td>BD21123D323</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td>Top up your wallet</td>
                            </tr>
                            <tr>
                                <td>Payment method:</td>
                                <td>Visa</td>
                            </tr>
                            <tr>
                                <td>Amount:</td>
                                <td>+100.000 VND</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="topup">
    <div class="modal-dialog filter">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal" data-toggle="modal" data-target="#filter">
                    <i class="back-ico"></i>
                </a>
                <h4 class="modal-title">Top up</h4>
            </div>
            <div class="modal-body">
                <div class="checkout-item">
                    <ul class="payment-method">
                        <li><b class="topup">Topup by:</b></li>
                        <li data-dismiss="modal" data-toggle="modal" data-target="#topup-credit">
                            <div class="radio">
                                <input type="radio" name="payment" id="payment1" data-toggle="modal" data-target="#credit">
                                <label for="payment1"></label>
                                <label for="payment1">Credit Card</label>
                            </div>
                            <span class="arrow">
                                <i class="fa fa-angle-right"></i>
                            </span>
                            <span class="icon cc"></span>
                        </li>
                        <li data-toggle="modal" data-target="">
                            <div class="radio">
                                <input type="radio" name="payment" id="payment5">
                                <label for="payment5"></label>
                                <label for="payment5">Paypal</label>
                            </div>
                            <span class="arrow">
                                <i class="fa fa-angle-right"></i>
                            </span>
                            <span class="icon pp"></span>
                        </li>
                        <li data-toggle="modal" data-target="">
                            <div class="radio">
                                <input type="radio" name="payment" id="payment2">
                                <label for="payment2"></label>
                                <label for="payment2">Bank Transfer</label>
                            </div>
                            <span class="arrow">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </li>
                        <li data-toggle="modal" data-target="">
                            <div class="radio">
                                <input type="radio" name="payment" id="payment3">
                                <label for="payment3"></label>
                                <label for="payment3">WeShop E-Wallet</label>
                            </div>
                            <span class="arrow">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </li>
                        <li data-toggle="modal" data-target="">
                            <div class="radio">
                                <input type="radio" name="payment" id="payment6">
                                <label for="payment6"></label>
                                <label for="payment6">Convenience Store</label>
                            </div>
                            <span class="arrow">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </li>
                        <li data-toggle="modal" data-target="">
                            <div class="radio">
                                <input type="radio" name="payment" id="payment4">
                                <label for="payment4"></label>
                                <label for="payment4">Over WeShop's counter</label>
                            </div>
                            <span class="arrow">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="topup-credit">
    <div class="modal-dialog filter">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal" data-toggle="modal" data-target="#filter">
                    <i class="back-ico"></i>
                </a>
                <h4 class="modal-title">Top up by Credit Card</h4>
            </div>
            <div class="modal-body">
                <div class="topup-cc">
                    <div class="title">Topup by credit card</div>
                    <div class="box">Your card number is kept 100% secure and only used for this transaction. <a href="#">See more ...</a></div>
                    <div class="box">
                        <div class="payment-method">
                            <label>Select payment method:</label>
                            <ul>
                                <li class="active">
                                    <span class="item"><img src="assets/img/bank/visa.png" alt="" title=""/></span>
                                </li>
                                <li>
                                    <span class="item"><img src="assets/img/bank/master.png" alt="" title=""/></span>
                                </li>
                            </ul>
                        </div>
                        <div class="deposit">
                            <label>Deposit amount:</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon">VND</span>
                                </div>
                            </div>
                            <div class="notice">
                                <b>Notice:</b> The minimum deposit is 100.000 VND
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="d-row">
                            <div class="d-left">Deposit amount:</div>
                            <div class="d-right">2.439.125 VND</div>
                        </div>
                        <div class="d-row">
                            <div class="d-left">Fee:</div>
                            <div class="d-right">- 200.000 VND</div>
                        </div>
                        <div class="d-row">
                            <div class="d-left">Visa discount:</div>
                            <div class="d-right">(+ 10%) + 100.000 VND</div>
                        </div>
                    </div>
                    <div class="box total">
                        <div class="d-row">
                            <div class="d-left">Order total:</div>
                            <div class="d-right">13.318.635 VNĐ</div>
                        </div>
                        <div class="checkbox">
                            <input name="payment" id="term" type="checkbox">
                            <label for="term"></label>
                            <label for="term">I agree with all the <a href="/" ng-href="/">Term and conditions</a></label>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button type="button" class="btn btn-default">Topup</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="withdraw">
    <div class="modal-dialog filter">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal" data-toggle="modal" data-target="#filter">
                    <i class="back-ico"></i>
                </a>
                <h4 class="modal-title">WithDraw</h4>
            </div>
            <div class="modal-body">
                <div class="topup-cc">
                    <div class="title">Withdraw to Ngan Luong E-wallet</div>
                    <div class="box wd1">
                        <div class="payment-method">
                            <label>Ngan Luong 's Account:</label>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your email"/>
                            </div>
                        </div>
                        <div class="payment-method">
                            <label>Withdraw amount</label>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="$ 100"/>
                            </div>
                            <div class="notice">
                                By word: one hundred dollars
                            </div>
                        </div>
                        <div class="payment-method otp">
                            <label>Method to get OTP:</label>
                            <div class="checkout-item">
                                <ul class="payment-method inner">
                                    <li>
                                        <div class="radio">
                                            <input type="radio" name="otp" id="otp1" data-toggle="modal" data-target="#credit">
                                            <label for="otp1"></label>
                                            <label for="otp1">SMS (+84) 02483.3434</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio">
                                            <input type="radio" name="otp" id="otp2">
                                            <label for="otp2"></label>
                                            <label for="otp2">Email (tienkm@peacesoft.net)</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="d-row">
                            <div class="d-left">Withdraw amount:</div>
                            <div class="d-right">2.439.125 VND</div>
                        </div>
                        <div class="d-row">
                            <div class="d-left">Fee:</div>
                            <div class="d-right">- 200.000 VND</div>
                        </div>
                    </div>
                    <div class="box total">
                        <div class="d-row">
                            <div class="d-left">Order total:</div>
                            <div class="d-right">13.318.635 VNĐ</div>
                        </div>
                        <div class="checkbox">
                            <input name="payment" id="term2" type="checkbox">
                            <label for="term2"></label>
                            <label for="term2">I agree with all the <a href="/" ng-href="/">Term and conditions</a></label>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button type="button" class="btn btn-default">Topup</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="node_modules/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="node_modules/slick-carousel/slick/slick-theme.css"/>
<script type="text/javascript" src="node_modules/slick-carousel/slick/slick.min.js"></script>
<script>
    $('.choose-balance').slick({
        centerMode: true,
        centerPadding: '180px',
        slidesToShow: 1,
        focusOnSelect: true,
        nav: false,
        responsive: [
            {
                breakpoint: 768,
                settings: {

                }
            },
            {
                breakpoint: 480,
                settings: {

                }
            }
        ]
    });
</script>