<div class="amazon-homepage">
    <div class="recently-view">
        <div class="title-3 wow slideInUp" data-wow-delay="0.2s">
            <!--<span class="item-count">{{ count.itemCount | number }} items</span>-->
            <span class="item-count">23,232 items</span>
            <a data-toggle="modal" data-target="#filter" class="filter">Filter</a>
        </div>
        <div class="content">
            <ul class="product-list">
                <!--<li class="wow fadeInUp" data-wow-delay="0.2s" ng-repeat="item in items">-->
                    <!--<a ng-href="/ebay/detail" class="pd-item">-->
                        <!--<div class="thumb">-->
                            <!--<i class="bid-tag" ng-if="item.isAution == true" ng-init="bid()">Bidding</i>-->
                            <!--<span><img src="{{ item.image }}" alt="{{ item.title }}" title="{{ item.title }}"/></span>-->
                        <!--</div>-->
                        <!--<div class="info">-->
                            <!--<div class="name">{{ item.title }}</div>-->
                            <!--<div class="price">{{ item.sellPrice | number }} {{ currencyPrice.Name }}</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a ng-href="/amazon/detail" class="pd-item">
                        <div class="thumb">
                            <span><img src="http://i.ebayimg.com/images/g/7isAAOSwiylXBYcB/s-l240.jpg" alt="" title=""/></span>
                        </div>
                        <div class="info">
                            <div class="name">Fitbit Blaze Smart Fitness Watch ...</div>
                            <div class="price">
                                <b>4.853.125 VNĐ</b>
                                <span class="old-price">5.000.000 VND</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a ng-href="/amazon/detail" class="pd-item">
                        <div class="thumb">
                            <span><img src="http://i.ebayimg.com/images/g/7isAAOSwiylXBYcB/s-l240.jpg" alt="" title=""/></span>
                        </div>
                        <div class="info">
                            <div class="name">Fitbit Blaze Smart Fitness Watch ...</div>
                            <div class="price">
                                <b>4.853.125 VNĐ</b>
                                <span class="old-price">5.000.000 VND</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a ng-href="/amazon/detail" class="pd-item">
                        <div class="thumb">
                            <span><img src="http://i.ebayimg.com/images/g/7isAAOSwiylXBYcB/s-l240.jpg" alt="" title=""/></span>
                        </div>
                        <div class="info">
                            <div class="name">Fitbit Blaze Smart Fitness Watch ...</div>
                            <div class="price">
                                <b>4.853.125 VNĐ</b>
                                <span class="old-price">5.000.000 VND</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a ng-href="/amazon/detail" class="pd-item">
                        <div class="thumb">
                            <span><img src="http://i.ebayimg.com/images/g/7isAAOSwiylXBYcB/s-l240.jpg" alt="" title=""/></span>
                        </div>
                        <div class="info">
                            <div class="name">Fitbit Blaze Smart Fitness Watch ...</div>
                            <div class="price">
                                <b>4.853.125 VNĐ</b>
                                <span class="old-price">5.000.000 VND</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a ng-href="/amazon/detail" class="pd-item">
                        <div class="thumb">
                            <span><img src="http://i.ebayimg.com/images/g/7isAAOSwiylXBYcB/s-l240.jpg" alt="" title=""/></span>
                        </div>
                        <div class="info">
                            <div class="name">Fitbit Blaze Smart Fitness Watch ...</div>
                            <div class="price">
                                <b>4.853.125 VNĐ</b>
                                <span class="old-price">5.000.000 VND</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a ng-href="/amazon/detail" class="pd-item">
                        <div class="thumb">
                            <span><img src="http://i.ebayimg.com/images/g/7isAAOSwiylXBYcB/s-l240.jpg" alt="" title=""/></span>
                        </div>
                        <div class="info">
                            <div class="name">Fitbit Blaze Smart Fitness Watch ...</div>
                            <div class="price">
                                <b>4.853.125 VNĐ</b>
                                <span class="old-price">5.000.000 VND</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a ng-href="/amazon/detail" class="pd-item">
                        <div class="thumb">
                            <span><img src="http://i.ebayimg.com/images/g/7isAAOSwiylXBYcB/s-l240.jpg" alt="" title=""/></span>
                        </div>
                        <div class="info">
                            <div class="name">Fitbit Blaze Smart Fitness Watch ...</div>
                            <div class="price">
                                <b>4.853.125 VNĐ</b>
                                <span class="old-price">5.000.000 VND</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a ng-href="/amazon/detail" class="pd-item">
                        <div class="thumb">
                            <span><img src="http://i.ebayimg.com/images/g/7isAAOSwiylXBYcB/s-l240.jpg" alt="" title=""/></span>
                        </div>
                        <div class="info">
                            <div class="name">Fitbit Blaze Smart Fitness Watch ...</div>
                            <div class="price">
                                <b>4.853.125 VNĐ</b>
                                <span class="old-price">5.000.000 VND</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="loading">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bottom" id="filter">
    <div class="modal-dialog filter">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal">
                    <i class="close-ico"></i>
                </a>
                <h4 class="modal-title">Filter</h4>
                <a class="submit" data-dismiss="modal">
                    <i class="submit-ico"></i>
                </a>
            </div>
            <div class="modal-body">
                <div class="filter-block" data-dismiss="modal" data-toggle="modal" data-target="#filter-sort">
                    <div class="fil-row">
                        <div class="fil-left">
                            <b>Sort by</b>
                        </div>
                        <div class="fil-right">
                            <span class="fil-text blue-text">Price: Low to high</span>
                            <i class="arrow"></i>
                        </div>
                    </div>
                </div>
                <div class="filter-block">
                    <div class="fil-row">
                        <div class="fil-left">
                            <b>View by</b>
                        </div>
                        <div class="fil-right">
                            <ul class="view">
                                <li ng-click="cateGridView();" data-dismiss="modal"><i class="gridview-ico"></i></li>
                                <li ng-click="cateListView();" data-dismiss="modal"><i class="listview-ico"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="filter-block list">
                    <ul class="fil-list">
                        <li>
                            <div class="fil-row" data-dismiss="modal" data-toggle="modal" data-target="#filter-category">
                                <div class="fil-left">
                                    <b>Categories</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text blue-text">Top & Tees</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="fil-row" data-dismiss="modal" data-toggle="modal" data-target="#filter-brand">
                                <div class="fil-left">
                                    <b>Brands</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text blue-text">Steve Madden, American ...</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="fil-row" data-dismiss="modal" data-toggle="modal" data-target="#filter-size">
                                <div class="fil-left">
                                    <b>Size</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text text-grey">All</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="fil-row">
                                <div class="fil-left">
                                    <b>Color</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text text-grey">All</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="fil-row" data-dismiss="modal" data-toggle="modal" data-target="#filter-price">
                                <div class="fil-left">
                                    <b>Price</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text text-grey">$25 to $50</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="fil-row">
                                <div class="fil-left">
                                    <b>Discount</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text text-grey">10% Off or More</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="fil-row">
                                <div class="fil-left">
                                    <b>Seller</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text blue-text">Western WearHouse, Save-On...</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="fil-row">
                                <div class="fil-left">
                                    <b>Item Condition</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text text-grey">New</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="fil-row">
                                <div class="fil-left">
                                    <b>Item Location</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text text-grey">US only</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="fil-row">
                                <div class="fil-left">
                                    <b>Buying Format</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text text-grey">Auction</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="filter-sort">
    <div class="modal-dialog filter">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal" data-toggle="modal" data-target="#filter">
                    <i class="back-ico"></i>
                </a>
                <h4 class="modal-title">Sort by</h4>
            </div>
            <div class="modal-body">
                <div class="filter-block list">
                    <ul class="fil-list sub-2">
                        <li>
                            <div class="radio">
                                <input id="srt1" type="radio" name="sort">
                                <label for="srt1"></label>
                                <label for="srt1">All</label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input id="srt2" type="radio" name="sort">
                                <label for="srt2"></label>
                                <label for="srt2">Feature</label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input id="srt3" type="radio" name="sort">
                                <label for="srt3"></label>
                                <label for="srt3">Price: Low to High</label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input id="srt4" type="radio" name="sort">
                                <label for="srt4"></label>
                                <label for="srt4">Price: High to Low</label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input id="srt5" type="radio" name="sort">
                                <label for="srt5"></label>
                                <label for="srt5">Average Customer Review</label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input id="srt6" type="radio" name="sort">
                                <label for="srt6"></label>
                                <label for="srt6">New Arrival</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="filter-brand">
    <div class="modal-dialog filter">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal" data-toggle="modal" data-target="#filter">
                    <i class="back-ico"></i>
                </a>
                <h4 class="modal-title">Brand</h4>
            </div>
            <div class="modal-body">
                <div class="filter-block list">
                    <ul class="fil-list sub">
                        <li>
                            <div class="checkbox">
                                <input id="all" type="checkbox">
                                <label for="all"></label>
                                <label for="all">All</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="br1" type="checkbox">
                                <label for="br1"></label>
                                <label for="br1">Dickies</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="br2" type="checkbox">
                                <label for="br2"></label>
                                <label for="br2">Hanes</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="br3" type="checkbox">
                                <label for="br3"></label>
                                <label for="br3">Saucony</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="br4" type="checkbox">
                                <label for="br4"></label>
                                <label for="br4">Gold Toe</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="br5" type="checkbox">
                                <label for="br5"></label>
                                <label for="br5">Under Armour</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="br6" type="checkbox">
                                <label for="br6"></label>
                                <label for="br6">Adidas</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="br7" type="checkbox">
                                <label for="br7"></label>
                                <label for="br7">Nike</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="filter-size">
    <div class="modal-dialog filter">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal" data-toggle="modal" data-target="#filter">
                    <i class="back-ico"></i>
                </a>
                <h4 class="modal-title">Size</h4>
            </div>
            <div class="modal-body">
                <div class="filter-block list">
                    <ul class="fil-list sub-2">
                        <li>
                            <div class="checkbox">
                                <input id="sz1" type="checkbox">
                                <label for="sz1"></label>
                                <label for="sz1">All</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="sz2" type="checkbox">
                                <label for="sz2"></label>
                                <label for="sz2">XXS</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="sz3" type="checkbox">
                                <label for="sz3"></label>
                                <label for="sz3">XS</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="sz4" type="checkbox">
                                <label for="sz4"></label>
                                <label for="sz4">S</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="sz5" type="checkbox">
                                <label for="sz5"></label>
                                <label for="sz5">M</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="sz6" type="checkbox">
                                <label for="sz6"></label>
                                <label for="sz6">L</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="sz7" type="checkbox">
                                <label for="sz7"></label>
                                <label for="sz7">XL</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="sz8" type="checkbox">
                                <label for="sz8"></label>
                                <label for="sz8">XL</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="filter-category">
    <div class="modal-dialog filter">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal" data-toggle="modal" data-target="#filter">
                    <i class="back-ico"></i>
                </a>
                <h4 class="modal-title">Categories</h4>
            </div>
            <div class="modal-body">
                <div class="filter-block list">
                    <ul class="fil-list sub-3">
                        <li>
                            <span>All Departments</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>Amazone Fresh</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>Amazone Video</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>Appliances</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>Art, Crafts & Sewing</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>Automotive</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>Baby</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>Beauty</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>CD & Vinyl</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>Cell Phones & Accessories</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>Clothing, Shoes & Jewelry</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>Collectibles & Fine Art</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>Computers</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>Digital Music</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="filter-price">
    <div class="modal-dialog filter">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal" data-toggle="modal" data-target="#filter">
                    <i class="back-ico"></i>
                </a>
                <h4 class="modal-title">Prices</h4>
            </div>
            <div class="modal-body">
                <div class="filter-block list">
                    <ul class="fil-list sub-2">
                        <li>
                            <div class="radio">
                                <input id="prc1" type="radio" name="price">
                                <label for="prc1"></label>
                                <label for="prc1">All Price</label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input id="prc2" type="radio" name="price">
                                <label for="prc2"></label>
                                <label for="prc2">Under $25</label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input id="prc3" type="radio" name="price">
                                <label for="prc3"></label>
                                <label for="prc3">$25 to $50</label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input id="prc4" type="radio" name="price">
                                <label for="prc4"></label>
                                <label for="prc4">$50 to $100</label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input id="prc5" type="radio" name="price">
                                <label for="prc5"></label>
                                <label for="prc5">$100 to $200</label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input id="prc6" type="radio" name="price">
                                <label for="prc6"></label>
                                <label for="prc6">$200 & Above</label>
                            </div>
                        </li>
                        <li>
                            <div class="price-range">
                                <input type="text" class="price-text" value="$"/>
                                <span>-</span>
                                <input type="text" class="price-text" value="$"/>
                                <button type="button" class="btn btn-default">Apply</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>