<div ng-controller="AuthController">
    <div class="auth-bg">
        <a onclick="javascript:history.go(-1);" class="auth-back-btn"></a>
        <span class="auth-logo"><img src="common/img/auth-logo.png" alt="" title=""/></span>
    </div>
    <div class="auth-nav">
        <ul>
            <li class="active">
                <span>Sign in</span>
            </li>
            <li>
                <a href="/register">Sign up</a>
            </li>
        </ul>
    </div>
    <div class="auth-content">
        <form class="login-form container" ng-submit="login()">
            <div class="form-group username">
                <input type="text" class="form-control" ng-model="username" ng-pattern="/^([a-zA-Z0-9]+)$/" ng-trim="true" ng-minlength="3" ng-maxlength="50" required placeholder="User name">
            </div>
            <div class="form-group password">
                <input type="password" class="form-control" ng-model="password"  ng-trim="true" ng-minlength="3" ng-maxlength="50" required placeholder="password">
<!--                <input type="password" class="form-control" ng-model="password" ng-trim="true" ng-minlength="6" ng-maxlength="50" placeholder="********">-->
            </div>
            <button type="submit" class="btn btn-default btn-block btn-primary">Sign in</button>
            <div class="forgot"><a href="/forgot">Forgot password</a></div>
        </form>
        <div class="other-sign-in">
            <div class="text">Not member? <a href="/register">Sign up now</a> or</div>
            <a href="/" class="btn btn-default btn-facebook">Login with Facebook</a>
        </div>
    </div>
</div>