<div class="big-slider">
    <swiper [config]="homeSlider">
        <div class="swiper-wrapper">
            <div class="item swiper-slide"><a href="/"><img src="app/common/img/slider1.jpg" alt="" title=""/></a></div>
            <div class="item swiper-slide"><a href="/"><img src="app/common/img/slider2.jpg" alt="" title=""/></a></div>
            <div class="item swiper-slide"><a href="/"><img src="app/common/img/slider3.jpg" alt="" title=""/></a></div>
        </div>
        <div class="swiper-pagination"></div>
    </swiper>
</div>