<div class="backend-content my-package my-shipment">
    <div class="be-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#all" role="tab" data-toggle="tab">All shipment</a></li>
            <li role="presentation"><a data-target="#paid" role="tab" data-toggle="tab">Paid shipment</a></li>
            <li role="presentation"><a data-target="#unpaid" role="tab" data-toggle="tab">Unpaid shipment</a></li>
            <li role="presentation"><a data-target="#cancel" role="tab" data-toggle="tab">Cancelled</a></li>
        </ul>
    </div>
    <div class="be-tab-content tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="all">
            <div class="item-filter">
                <div class="item-numb">10 items</div>
                <div class="filter"><span>Filter</span></div>
            </div>
            <div class="item-list">
                <div class="list-head">
                    <div class="left">
                        <div class="order-info">
                            <b>Package ID</b>
                            <a ng-href="/">US-232-23</a>
                        </div>
                        <div class="info">05/01/16  |  2.460.000 VND</div>
                    </div>
                    <div class="right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Track shipment</button>
                        </div>
                    </div>
                </div>
                <ul>
                    <li class="dropdown">
                        <div class="item">
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="assets/img/ws-pd.jpg" alt="" title=""/></span></div>
                                    <span class="status ready">Paid</span>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">From China</div>
                                        <div class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-detail">
                                                    <div class="show-detail">
                                                        <span>Detail</span>
                                                        <i class="fa fa-caret-down"></i>
                                                    </div>
                                                    <div class="hide-detail">
                                                        <span>Hide</span>
                                                        <i class="fa fa-caret-right"></i>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box2">
                                        <div class="bid-info">International shipping processing</div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-content">
                                <div class="title">Shipment Detail:</div>
                                <ul class="item-list">
                                    <li>
                                        <div class="sub-item">
                                            <div class="sub-thumb"><span><img src="assets/img/ws-pd2.jpg" alt="" title=""/></span></div>
                                            <div class="sub-info">
                                                <p>Package ID: US-038-13</p>
                                                <p>From: <span class="text-grey">Apparelmatch  2,58 kg</span></p>
                                                <p>Received <span class="text-grey">18 Feb 2016</span></p>
                                                <p class="text-grey">Basic inspection free</p>
                                                <p class="text-grey">Charges: Photo, Insurance</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-item">
                                            <div class="sub-thumb"><span><img src="assets/img/ws-pd2.jpg" alt="" title=""/></span></div>
                                            <div class="sub-info">
                                                <p>Package ID: US-038-13</p>
                                                <p>From: <span class="text-grey">Apparelmatch  2,58 kg</span></p>
                                                <p>Received <span class="text-grey">18 Feb 2016</span></p>
                                                <p class="text-grey">Basic inspection free</p>
                                                <p class="text-grey">Charges: Photo, Insurance</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="item-list">
                <div class="list-head">
                    <div class="left">
                        <div class="order-info">
                            <b>Package ID</b>
                            <a ng-href="/">US-232-23</a>
                        </div>
                        <div class="info">05/01/16  |  2.460.000 VND</div>
                    </div>
                    <div class="right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Pay now</button>
                        </div>
                    </div>
                </div>
                <ul>
                    <li class="dropdown">
                        <div class="item">
                            <div class="top">
                                <div class="thumb">
                                    <div class="img"><span><img src="assets/img/ws-pd.jpg" alt="" title=""/></span></div>
                                    <span class="status">Unpaid</span>
                                </div>
                                <div class="info">
                                    <div class="box1">
                                        <div class="name">From China</div>
                                        <div class="action">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-detail">
                                                    <div class="show-detail">
                                                        <span>Detail</span>
                                                        <i class="fa fa-caret-down"></i>
                                                    </div>
                                                    <div class="hide-detail">
                                                        <span>Hide</span>
                                                        <i class="fa fa-caret-right"></i>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box2">
                                        <div class="bid-info">International shipping processing</div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-content">
                                <div class="title">Shipment Detail:</div>
                                <ul class="item-list">
                                    <li>
                                        <div class="sub-item">
                                            <div class="sub-thumb"><span><img src="assets/img/ws-pd2.jpg" alt="" title=""/></span></div>
                                            <div class="sub-info">
                                                <p>Package ID: US-038-13</p>
                                                <p>From: <span class="text-grey">Apparelmatch  2,58 kg</span></p>
                                                <p>Received <span class="text-grey">18 Feb 2016</span></p>
                                                <p class="text-grey">Basic inspection free</p>
                                                <p class="text-grey">Charges: Photo, Insurance</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-item">
                                            <div class="sub-thumb"><span><img src="assets/img/ws-pd2.jpg" alt="" title=""/></span></div>
                                            <div class="sub-info">
                                                <p>Package ID: US-038-13</p>
                                                <p>From: <span class="text-grey">Apparelmatch  2,58 kg</span></p>
                                                <p>Received <span class="text-grey">18 Feb 2016</span></p>
                                                <p class="text-grey">Basic inspection free</p>
                                                <p class="text-grey">Charges: Photo, Insurance</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id=ready-ship>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="shipped">

        </div>
    </div>
</div>

<div class="modal fade bottom" id="filter">
    <div class="modal-dialog filter">
        <div class="modal-content">
            <div class="modal-header">
                <a class="cancel" data-dismiss="modal">
                    <i class="close-ico"></i>
                </a>
                <h4 class="modal-title">Order filter</h4>
                <a class="submit" data-dismiss="modal">
                    <i class="submit-ico"></i>
                </a>
            </div>
            <div class="modal-body">
                <div class="filter-block list">
                    <ul class="fil-list">
                        <li>
                            <div class="fil-row" data-dismiss="modal" data-toggle="modal" data-target="#filter-category">
                                <div class="fil-left">
                                    <b>Search All Order</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text blue-text">#234-2354534534-34534534</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="fil-row" data-dismiss="modal" data-toggle="modal" data-target="#filter-brand">
                                <div class="fil-left">
                                    <b>Order Status</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text blue-text">Not paid</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="fil-row" data-dismiss="modal" data-toggle="modal" data-target="#filter-size">
                                <div class="fil-left">
                                    <b>By Time</b>
                                </div>
                                <div class="fil-right">
                                    <span class="fil-text blue-text">7 days</span>
                                    <i class="arrow"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.btn-detail').click(function () {
        $(this).parents().eq(6).toggleClass('open');
        $(this).parents().eq(5).find('.dropdown-content').stop().slideToggle(500);
    });
</script>