/*Created by nktquan@gmail.com 4/14/16*/

.ws-header.dhgate-header{
    background: #ffca08;
}
.dhgate-header .amazon-searchbox .left {
    padding-top: 10px;
}
.dhgate-homepage .brand-slider{
    margin-top: 15px;
}
.dhgate-homepage .brand-slider .item{
    padding: 0 10px 5px;
}
.dhgate-homepage .brand-slider .item a{
    display: block;
    border: 1px solid #ebebeb;
    overflow: hidden;
}
.dhgate-homepage .brand-slider .item img{
    width: 100%;
}