<div class="amazon-homepage">
    <ol class="breadcrumb">
        <li><a href="/">Shop by Ebay</a></li>
        <li><a href="/">Fashion</a></li>
        <li><a href="/">Women</a></li>
        <li class="active"><b>Women Summber Collection</b></li>
    </ol>

    <div class="product-slider">
        <div detail-slider class="detail-slider">
            <div class="item"><a href="/"><img src="common/img/ebay-detail-pd.jpg" alt="" title=""/></a></div>
            <div class="item"><a href="/"><img src="common/img/ebay-detail-pd.jpg" alt="" title=""/></a></div>
        </div>
        <!--<span class="notice sold">This item has been sold. See more items like this below</span>-->
        <!--<span class="notice bought">You've bought this item. Check for other items below</span>-->
        <span class="notice outbid">Sorry, this item has out of bidding</span>
    </div>

    <div class="detail-info">
        <div class="name">Women Summer Azadeh Zip Around Pink Multi Zip Around Pink Multi</div>
        <div class="seller">
            <div class="left">
                <a ng-href="/">Zara</a>
                <div class="rating">
                    <i class="star-ico active"></i>
                    <i class="star-ico active"></i>
                    <i class="star-ico active"></i>
                    <i class="star-ico active"></i>
                    <i class="star-ico"></i>
                </div>
                <span class="point">4.0</span>
            </div>
            <div class="right">
                <a ng-href="/"><i class="share-ico"></i><span>Share</span></a>
                <a ng-href="/"><i class="follow-ico"></i><span>Follow</span></a>
            </div>
        </div>
        <div class="price-box">
            <span>Price:</span>
            <span class="price">9.453.125 VNĐ</span>
            <span class="old-price">10.853.125 VNĐ</span>
            <span class="save">(save 33%)</span>
        </div>
        <div class="reward">
            <span>Reward:</span>
            <span class="gift">Get 12.000 VND to Weshop Wallet</span>
        </div>
        <div class="show-detail open" ng-click="pricingDetail();">
            <span class="dt-show">Show pricing detail <i class="fa fa-caret-down"></i></span>
            <span class="dt-hide">Hide pricing detail <i class="fa fa-caret-up"></i></span>
        </div>
        <div class="pricing-detail">
            <div class="detail-box">
                <div class="detail-row">
                    <div class="row-left">
                        <strong>Checkout price (first payment)</strong>
                    </div>
                    <div class="row-right">
                        <strong>120.000.000 VND</strong>
                    </div>
                </div>
                <div class="detail-row">
                    <div class="row-left">
                        <span class="text-grey">Product price</span>
                    </div>
                    <div class="row-right">
                        <span class="text-grey">110.000.000 VND</span>
                    </div>
                </div>
                <div class="detail-row">
                    <div class="row-left">
                        <span class="text-grey">Seller 's shipping fee</span>
                    </div>
                    <div class="row-right">
                        <span class="text-grey">12.000.000 VND</span>
                    </div>
                </div>
                <div class="detail-row">
                    <div class="row-left">
                        <span class="text-grey">Sale tax</span>
                    </div>
                    <div class="row-right">
                        <span class="text-grey">8.000.000 VND</span>
                    </div>
                </div>
            </div>
            <div class="detail-box">
                <div class="detail-row">
                    <div class="row-left">
                        <strong>Service fee (second payment)</strong>
                    </div>
                    <div class="row-right">
                        <strong>300.000 VND</strong>
                    </div>
                </div>
                <div class="detail-row">
                    <div class="row-left">
                        <span class="text-grey">International shipping fee</span>
                    </div>
                    <div class="row-right">
                        <span class="text-grey">250.000 VND</span>
                    </div>
                </div>
                <div class="detail-row">
                    <div class="row-left">
                        <span class="text-grey">Tax and duty</span>
                    </div>
                    <div class="row-right">
                        <span class="text-grey">50.000 VND</span>
                    </div>
                </div>
                <div class="detail-row">
                    <div class="row-left">
                        <span class="text-grey">Weshop service fee</span>
                    </div>
                    <div class="row-right">
                        <span class="text-grey">50.000 VND</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group detail-accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <span>Product Details</span>
                    <a class="pull-right" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#product-detail" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fa fa-minus"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                </h4>
            </div>
            <div id="product-detail" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="parameter-row">
                        <div class="left">Condition</div>
                        <div class="right">New with tags</div>
                    </div>
                    <div class="parameter-row">
                        <div class="left">Quantity Sold</div>
                        <div class="right">77 Sold</div>
                    </div>
                    <div class="parameter-row">
                        <div class="left">Brand</div>
                        <div class="right">Zara</div>
                    </div>
                    <div class="parameter-row link">
                        <div class="left">Link</div>
                        <div class="right"><a href="#">https://www.amazon.com/gp/product/B01ESF94JU/ref=s9_psimh_gw_g241_i3_r?ie=UTF8&fpl=fresh&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=3T186HHECG2GHZWSKR17&pf_rd_t=36701&pf_rd_p=6aad23bd-3035-4a40-b691-0eefb1a18396&pf_rd_i=desktop</a></div>
                    </div>
                    <!--<div class="parameter-row">-->
                        <!--<div class="left">Material</div>-->
                        <!--<div class="right">Cotton</div>-->
                    <!--</div>-->
                    <div class="parameter-row">
                        <div class="left">Size Type</div>
                        <div class="right">Regular</div>
                    </div>
                    <div class="parameter-row">
                        <span class="show-more">show more <i class="fa fa-caret-down"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <span>Buyer Protection</span>
                    <a class="pull-right" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#payment" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fa fa-minus"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                </h4>
            </div>
            <div id="payment" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="parameter-row">
                        <div class="left">Safe Payment</div>
                        <div class="right">
                            <ul class="payment-method">
                                <li><i class="payment-ico visa"></i></li>
                                <li><i class="payment-ico master"></i></li>
                                <li><i class="payment-ico paypal"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="parameter-row">
                        <div class="left">Fast Deliveryt</div>
                        <div class="right">
                            Within 10 to 14 days,<br/>
                            Easy Custom Clearance (No documentation and procedure required)<br/>
                            Free consolidation & repacking
                        </div>
                    </div>
                    <div class="parameter-row">
                        <div class="left">Guarantee</div>
                        <div class="right">
                            Get your item or money back;<br/>
                            Insurance guarantee within 150% of product value<br/>
                            Support for seller claim and returning
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <span>Seller infomation</span>
                    <a class="pull-right" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#seller-info" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fa fa-minus"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                </h4>
            </div>
            <div id="seller-info" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="seller-info">
                        <div class="thumb">
                            <img src="common/img/user-avatar.jpg" alt=""/>
                        </div>
                        <div class="info">
                            <div class="name"><strong>happycat169168</strong> (4632 )</div>
                            <div class="seller-feedback">90% Positive feedback</div>
                            <a ng-href="/" class="follow-seller"><i class="fa fa-plus-square"></i> <span>Follow this seller</span></a>
                        </div>
                        <div class="item">
                            <div class="numb"><strong>54</strong></div>
                            <div class="text">Seller's items</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="recently-view detail">
        <div class="title wow slideInUp" data-wow-delay="0.2s">Related Product</i></div>
        <div class="content">
            <ul class="product-list">
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a href="/" class="pd-item">
                        <div class="thumb">
                            <span><img src="http://i.ebayimg.com/00/s/MTIwMFgxNjAw/z/ywwAAOSwZG9Wi~mT/$_1.JPG" alt="" title=""/></span>
                            <i class="sale-tag">-50%</i>
                        </div>
                        <div class="info">
                            <div class="name">Product test 1</div>
                            <div class="price">21.708.939 VND</div>
                        </div>
                    </a>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a href="/" class="pd-item">
                        <div class="thumb">
                            <span><img src="http://i.ebayimg.com/00/s/MTIwMFgxNjAw/z/ywwAAOSwZG9Wi~mT/$_1.JPG" alt="" title=""/></span>
                            <i class="sale-tag">-50%</i>
                        </div>
                        <div class="info">
                            <div class="name">Product test 1</div>
                            <div class="price">21.708.939 VND</div>
                        </div>
                    </a>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a href="/" class="pd-item">
                        <div class="thumb">
                            <span><img src="http://i.ebayimg.com/00/s/MTIwMFgxNjAw/z/ywwAAOSwZG9Wi~mT/$_1.JPG" alt="" title=""/></span>
                            <i class="sale-tag">-50%</i>
                        </div>
                        <div class="info">
                            <div class="name">Product test 1</div>
                            <div class="price">21.708.939 VND</div>
                        </div>
                    </a>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a href="/" class="pd-item">
                        <div class="thumb">
                            <span><img src="http://i.ebayimg.com/00/s/MTIwMFgxNjAw/z/ywwAAOSwZG9Wi~mT/$_1.JPG" alt="" title=""/></span>
                            <i class="sale-tag">-50%</i>
                        </div>
                        <div class="info">
                            <div class="name">Product test 1</div>
                            <div class="price">21.708.939 VND</div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="loading">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="detail-button">
        <button class="btn btn-default btn-addcart" data-toggle="modal" data-target="#choose-option"><i class="addcart-ico"></i> <span>Add to cart</span></button>
        <button class="btn btn-default btn-buynow" data-toggle="modal" data-target="#choose-option"><i class="buynow-ico"></i> <span>Buy now</span></button>
    </div>
</div>

<div class="modal fade bottom" id="choose-option">
    <div class="modal-dialog choose">
        <div class="modal-content">
            <div class="modal-body">
                <span class="accept" data-dismiss="modal" data-toggle="modal" data-target="#add-cart">OK</span>
                <div class="option-box size">
                    <label>Select Size</label>
                    <ul>
                        <li><a href="#">XS</a></li>
                        <li class="active"><a href="#">S</a></li>
                        <li><a href="#">M</a></li>
                        <li><a href="#">L</a></li>
                    </ul>
                </div>
                <div class="option-box">
                    <label>Select Color</label>
                    <ul>
                        <li><a href="#">White</a></li>
                        <li class="active"><a href="#">Black</a></li>
                        <li><a href="#">Blue</a></li>
                        <li><a href="#">Green</a></li>
                    </ul>
                </div>
                <div class="quantity">
                    <label>Quantity</label>
                    <input type="text" value="1"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bottom" id="add-cart">
    <div class="modal-dialog bid">
        <div class="modal-content">
            <div class="modal-body">
                <div class="addcart-notice">
                    <div class="icon"><img src="common/img/add-cart.png"/></div>
                    <div class="text">You have add a item to your cart</div>
                </div>
            </div>
        </div>
    </div>
</div>