<div class="dhgate-homepage" ng-controller="DhgateController">
    <div class="amazon-category">
        <div class="box">
            <ul>
                <li><a href="/">Jewelry & Watches</a></li>
                <li class="active"><a href="/">Sports & Outdoors</a></li>
                <li><a href="/">Home, Garden & Tools</a></li>
                <li><a href="/">Home, Garden & Tools</a></li>
                <li><a href="/">Home, Garden & Tools</a></li>
            </ul>
        </div>
    </div>
    <div class="amazon-sub-category">
        <div class="box">
            <ul>
                <li>
                    <a href="/">
                        <div class="thumb"><img src="assets/img/dhgate-sub-cate-1.png" alt=""/></div>
                        <div class="name">Soccer Wears</div>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <div class="thumb"><img src="assets/img/dhgate-sub-cate-2.png" alt=""/></div>
                        <div class="name">Hockey Wears</div>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <div class="thumb"><img src="assets/img/dhgate-sub-cate-3.png" alt=""/></div>
                        <div class="name">Cycling</div>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <div class="thumb"><img src="assets/img/dhgate-sub-cate-4.png" alt=""/></div>
                        <div class="name">Hunting & Fishing</div>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <div class="thumb"><img src="assets/img/amazon-sub-cate-1.png" alt=""/></div>
                        <div class="name">TV & Video</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="portal-feature">
        <div class="content">
            <div class="big-banner wow fadeInUp" data-wow-delay="0.2s">
                <a href="/">
                    <img src="assets/img/banner-dhgate-2.jpg" alt="" title=""/>
                </a>
            </div>
        </div>
    </div>
    <div class="portal-feature">
        <div class="content">
            <a class="title wow slideInUp" data-wow-delay="0.2s" href="/">
                <span class="portal-name">Best Selling Items</span>
                <span class="see-all">See all <i class="fa fa-chevron-right"></i></span>
            </a>
            <ul class="banner-list">
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a href="/">
                        <img src="assets/img/dhgate-pd-banner.jpg" alt="" title=""/>
                    </a>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a href="/">
                        <img src="assets/img/dhgate-pd-banner2.jpg" alt="" title=""/>
                    </a>
                </li>
            </ul>
            <div class="big-banner ebay-big-banner wow fadeInUp" data-wow-delay="0.2s">
                <a href="/">
                    <img src="assets/img/banner-dhgate-3.jpg" alt="" title=""/>
                </a>
            </div>
        </div>
    </div>
    <div class="portal-feature">
        <div class="content">
            <a class="title wow slideInUp" data-wow-delay="0.2s" href="/">
                <span class="portal-name">New Arrival</span>
                <span class="see-all">See all <i class="fa fa-chevron-right"></i></span>
            </a>
            <ul class="banner-list">
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a href="/">
                        <img src="assets/img/dhgate-pd-banner.jpg" alt="" title=""/>
                    </a>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a href="/">
                        <img src="assets/img/dhgate-pd-banner2.jpg" alt="" title=""/>
                    </a>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a href="/">
                        <img src="assets/img/dhgate-pd-banner.jpg" alt="" title=""/>
                    </a>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.2s">
                    <a href="/">
                        <img src="assets/img/dhgate-pd-banner2.jpg" alt="" title=""/>
                    </a>
                </li>
            </ul>
            <div class="big-banner ebay-big-banner wow fadeInUp" data-wow-delay="0.2s">
                <a href="/">
                    <img src="assets/img/banner-dhgate-4.jpg" alt="" title=""/>
                </a>
            </div>
        </div>
    </div>
    <div class="portal-feature">
        <div class="content">
            <a class="title wow slideInUp" data-wow-delay="0.2s" href="/">
                <span class="portal-name">Brands Zone</span>
                <span class="see-all">See all <i class="fa fa-chevron-right"></i></span>
            </a>
            <div brand-slider class="brand-slider">
                <div class="item"><a href="/"><img src="assets/img/brand/adidas.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="assets/img/brand/asics.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="assets/img/brand/diesel.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="assets/img/brand/feeding.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="assets/img/brand/forever21.png" alt="" title=""/></a></div>
                <div class="item"><a href="/"><img src="assets/img/brand/hm.png" alt="" title=""/></a></div>
            </div>
        </div>
    </div>
    <div class="portal-feature">
        <div class="content">
            <a class="title wow slideInUp" data-wow-delay="0.2s" href="/">
                <span class="portal-name">Related to Items You've Viewed</span>
                <span class="see-all">See all <i class="fa fa-chevron-right"></i></span>
            </a>
            <div class="amazon-inspired wow slideInUp" data-wow-delay="0.2s">
                <ul>
                    <li>
                        <a href="/">
                            <div class="thumb">
                                <span><img src="assets/img/ws-pd.jpg" alt="" title=""/></span>
                            </div>
                            <div class="name">Steven Madden Woman’s highheel...</div>
                            <div class="price">853.125 VNĐ</div>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <div class="thumb">
                                <span><img src="assets/img/ws-pd.jpg" alt="" title=""/></span>
                            </div>
                            <div class="name">Steven Madden Woman’s highheel...</div>
                            <div class="price">853.125 VNĐ</div>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <div class="thumb">
                                <span><img src="assets/img/ws-pd.jpg" alt="" title=""/></span>
                            </div>
                            <div class="name">Steven Madden Woman’s highheel...</div>
                            <div class="price">853.125 VNĐ</div>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <div class="thumb">
                                <span><img src="assets/img/ws-pd.jpg" alt="" title=""/></span>
                            </div>
                            <div class="name">Steven Madden Woman’s highheel...</div>
                            <div class="price">853.125 VNĐ</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>